# 1.identifiers:- A name in python program is a identifier
### 1. variable name
### 2. function name
### 3. class name

# 2. variables are containers for storing values

In [1]:
name = "python"
print(name)

python

In [1]:
a = 10
print(a)

10

## rules for creating identifier names

In [2]:
# 1. identifier name can only containe a to z, A to Z,numbers, underscore symbol
person = "ravi"
person2 = "teja";
person_3 = "siva";
print(person);
print(person2);
print(person_3);

ravi
teja
siva

In [3]:
### 2. identifier name can't start with number
1a = 20;
print(1a)

SyntaxError: invalid decimal literal (3752845921.py, line 2)

In [4]:
#3. identifier name can start with underscore(_)
_a2 = 10;
print(_a2)

10

In [5]:
### 4. python is a case sensitive language
c1 = 100;
C1 = 200;
print("the c1 value is: ",c1)
print("the C1 value is: ",C1)

the c1 value is:  100
the C1 value is:  200

In [7]:
Student = "Kittu";
student = "kittu";
print(Student)
print(student)

Kittu
kittu

In [8]:
### 5. we can't use reserved keywords
if = 80;
print(if)
else = 100;
print(else);

SyntaxError: invalid syntax (4102230409.py, line 2)

In [10]:
### 6. Dont start identifier name as a captial letter it is reserved for oops
Person = "luffy"
Person

'luffy'

# Reserved keywords:
## in python some keywords are reserved to represent special meaning or functionality those words are called as reserved keywords
## all reserved keywords small except False,True,None

# in modular programming we have 2 types 1. built-in modules 2. userdefine modules

# Data types :- data types represent type of data present inside variables
## 1. primitive data types:- int,float,complex,str,boolean immutable(non-changeable) 
## 2. non-primitive data types:- list,tuple,set,dict mutable(changeable)

## type:- to check the type of variable
## id:- to get address of variables
## print:- to print value

## int (base 10 0 to 9 ) without decimal point

## In immutablitity if any 2 variables shares the same address if you update 1 variable it won't affect anotherone
## in mutable if you update one variable it will affect the other variables that shares same address

## in dynamic languages we are not required to mention type manual based on value type will automatically given by pvm

## in python if any 2 variables have same value pvm won't create new memory object or address it shares the same address or object in primitive data types this concept will apply

# operator are used to peform operations on operands
## 1.arithmetic
## 2. relational operator
## 3. logical operator
## 4. assignment operator 
## 5. special operator(identity and membership)
## 6. bitwise operator

## Arithmetic Operators 
### There 7 arithmetic operators 
### + ==>Addition
### - ==>Subtraction 
### * ==>Multiplication 
### / ==> Division operator  always gives float point value as a results.
### % ===>Modulo operator.
### // ==>Floor Division operator if you provide both int values it gives int value as result and if one value is int another value is float it always gives float value as result.
### ** ==>Exponent operator or power operator.

# Relational Operators >,>=,<,<=,(== equal to is used to content comparision ,!= not equal to)

# Logical operator
## and ==>If both arguments are True then only result is True ex: True and False  ==>False 
## non boolean values and 1.if x is true y is result 2.if x is false x is result 
## or ====>If atleast one arugemnt is True then result is True ex: True or False ===>True 
## non boolean values or 1.if x is true x is result 2.if x is false y is result
## not ==>complement ex: not False  ==>True

# Assignment Operators: We can use assignment operator to assign value to the variable.
## Eg:x=10

In [9]:
from array import array
a = array("f",[10,20,30]);
print(a)

array('f', [10.0, 20.0, 30.0])

In [8]:
print(a[-1:0])

array('i')

TypeError: array() takes at most 2 arguments (3 given)