In [1]:
#number is positive,negative  or zero

In [4]:
n = int(input("enter a number"))
if n>0:
     print("positive number");
elif n < 0:
     print("negative number")
else:
     print("the give number zero")

negative number

In [ ]:
name = input("enter your name:")
age = int(input("enter your age: "))
if age < 0:
     print("invalid age please try again")
elif age < 18:
     print(f"{name} is young to get lic")
elif age >= 18 and age  < 60:
     print(f"{name} can get driving lic")
else:
     print(f"{name} is too old for geting lic")

In [ ]:
n = int(input("enter a number"))
if n > 0:
     if n%2 == 0:
          print("n is postive and even")
     else:
          print("n is postive and odd")
else:
     print("negative number")

In [2]:
correct_pin = 1234;
pin = int(input("enter your atm pin: "));
if pin == correct_pin:
     print("Welcome")
else:
     print("Try again ")

Welcome

In [ ]:
age = int(input("enter your age: "))#9
if age <13:
     print("your child")
elif age >= 13 and age <= 19:
     print("Teen")
elif age >=20 and age <= 59:
     print("Adult")
else:
     print("Senior citizens")

In [3]:
amount = int(input("enter amount"))
if amount < 1000:
     print("no discount");
elif amount >= 1000 and amount <= 4999:
     print("10% discount")
elif amount >= 5000 and amount <= 9999:
     print("20% discount")
else:
     print("30% discount");

20% discount

In [ ]:
a= int(input("enter a  value: "))
b= int(input("enter b value: "))
c= int(input("enter c value: "))
if a >= b and a >=c:
     print("a is largest num")
elif b >=c:
     print("b is largest")
else:
     print("c is largest");

In [ ]:
marks= int(input("enter your marks: "))
if marks >= 90 and marks <= 100:
     print("A")
elif marks >= 80 and marks <= 89:
     print("B")
elif marks >= 70 and marks <= 79:
     print("c")
elif marks >= 60 and marks <= 69:
     print("D")
else:
     print("F")

In [ ]:
weight = float(input("enter your weight: "))
height = float(input("enter your height: "))
bmi = weight/(height * height)
if bmi <18.5:
     print("Under weight")
elif bmi >= 18.5 and bmi <= 24.9:
     print("normal")
elif bmi >= 25 and bmi <= 29.9:
     print("over weight")
else:
     print("Obese")

In [6]:
height = float(input("enter your height: "))
age = int(input("enter your age: "))
if height >120:
     print("you can ride roller coaster")
     if age > 18:
          print("you have to pay $12")
     elif age >= 12 and age <= 18:
          print("you have to pay $7")
     else:
          print("you have to pay $5")
else:
     print("you can't ride roller coaster")

you can ride roller coaster
you have to pay $7

In [9]:
n = int(input("enter a number"))
if n%2 == 0:
     print("n is  even")
else:
     print("n is postive odd")

n is postive odd

In [12]:
# range(start,end -1,step)

In [15]:
for i in range(6):
     print(i)

0
1
2
3
4
5

In [ ]:
for i in range(1,6):
     print(i)

In [23]:
for i in range(10,21):
     print(i)

10
11
12
13
14
15
16
17
18
19
20

10
9
8
7
6
5
4
3
2

In [30]:
for i in range(10,0,-1):
     print(i)

10
9
8
7
6
5
4
3
2
1

In [2]:
for i in range(6):
     print(i)     # start:0 ,end -1,step: 1

0
1
2
3
4
5

In [3]:
for i in range(1,11):
     print(i)

1
2
3
4
5
6
7
8
9
10

In [4]:
sum = 0;
for i in range(1,11):
     #sum = sum + i
     sum += i
print("sum of ten numbers: ",sum)

sum of ten numbers:  55

In [7]:
n = int(input("enter n value:"));
sum = 0;
for x in range(1,n+1):
     sum += x;
print("sum of n numbers: ",sum)

sum of n numbers:  210

In [ ]:
for i in range(1,10,2):
     print(i)

1
3
5
7
9

In [15]:
for i in range(1,10):
     if i == 5:
          print("you win the lottery ticket");   
     else:
          print("❌ you lost  ")

❌ you lost
❌ you lost
❌ you lost
❌ you lost
you win the lottery ticket
❌ you lost
❌ you lost
❌ you lost
❌ you lost

In [ ]:
for i in range(1,6):
     if i%2 == 0:
          print(f"the given {i} is even number")

the given 2 is even number
the given 4 is even number

In [20]:
 #ass end - 1 #desc end+1
for  i in range(5,0,-1):
     print(i)

5
4
3
2
1

In [ ]:
initialization of variable
while(condition):
     last line increment or decrement

In [2]:
i = 0;
while(i <= 5):
     print(i)
     i += 1

0
1
2
3
4
5

In [8]:
i = 1;
while i <= 10:
     print(i)
     i += 1

1
2
3
4
5
6
7
8
9
10

In [ ]:
n = int(input("enter n value:"));
sum = 0;
i = 1;
while i <= n:
     sum += i
     i += 1
print(f"sum of {n} value is {sum}")

sum of 10 value is 55

In [11]:
i = 5;
while i >= 1:
     print(i)
     i -= 1

5
4
3
2
1

In [15]:
# n even numbers
n = int(input("enter n value:"))
i = 1;
while i <= n:
     if i%2 != 0:
          print(f"the given {i} is odd number")
     i += 1

the given 1 is odd number
the given 3 is odd number
the given 5 is odd number

In [22]:
for i in range(1,6):
     if i == 4:
          print("exit using break")
          break
     print(i)

1
2
3
exit using break

In [21]:
for i in range(1,6):
     if i == 4:
          print("skip")
          continue
     print(i)

1
2
3
skip
5

In [4]:
i = 1;
while i <= 5:
     if i% 2 == 0:
          i += 1
          continue
     print(i)
     i += 1

1
3
5

In [1]:
s = "python"
print(s)

python

In [ ]:
# 1. we have to indexing it support both postive and negative

In [3]:
print(s)

python

In [12]:
print(s[0])
print(s[1])
print(s[len(s) - 1])
print(s[-1])
print(s[2])
print(s[-2])

p
y
n
n
t
o

In [19]:
g = "welcome";
print("to know the length: ",len(g))
print(g[3])
print(g[5])
print(g[5])
print(g[-7])
#print(g[23])

to know the length:  7
c
m
m
w

In [21]:
l = "pythonlanguage";
print(l)

pythonlanguage

In [46]:
print(l[0:6])
print(l[2:4])
# if didn't mention end value we will get until end of string
print(l[-3:])
print(l[1:6]) 
# don't start with -1 & end with 0 result is 0 empty string
print(l[-1:0]) 
print(l[4:0])
print(l[4:2])
print(l[2:4])
print(l[5:2])
print(l[6:4])

python
th
age
ython



th

In [ ]:
a = "javascript";
print(a[4:])
print(a[6:2])
# reverse the string
print(a[::-1])
print(a[::1])
print(a[2:-1]) # end + 1 -2 
print(a[0:-1:2],a)

script

tpircsavaj
javascript
vascrip
jvsrp javascript

In [68]:
a = "onepiece"
b = "PYTHON"
#methods
print(a.upper())
print(b.lower())
print("welcome to programming world".capitalize())
print("welcome to programming world".title())
print("  hello  ".lstrip())
print("  hello  ".rstrip())
print("  hello  ".strip())
print("  hell o  ".strip())

ONEPIECE
python
Welcome to programming world
Welcome To Programming World
hello
  hello
hello
hell o

In [100]:
c = "python";
print(c.index("y"))
print(c.index("n"))
print(c.index("t"))
# print(c.index("x"))
d = "hellohello";
print(d.index("h"))
print(d.rindex("h"))
print(d.index("l"))
print(d.rindex("l"))
print(d.find("h"))
print(d.rfind("h"))
print(d.find("r"))
# print(d.rindex("r"))
print("hello".count("l"))
print("hello".count("h"))
print("hello".replace("h","H"))
print("python".startswith("p"))
print("python".startswith("y"))
print("python".startswith("y"))
print("python".endswith("y"))
print("javascript".split())
print("123".isdigit())
print("py".isalpha())
print("python3".isalnum())

1
5
2
0
5
2
8
0
5
-1
2
1
Hello
True
False
False
False
['javascript']
True
True
True

In [2]:
s  = "python";
for i in s:
     print(i)
i = 0;
while i < len(s):
     print(s[i]) 
     i += 1

p
y
t
h
o
n
p
y
t
h
o
n

In [2]:
l = [10,20,30,40,50];
print(type(l))
# empty list
l1 = []
print(type(l1))

<class 'list'>
<class 'list'>

In [ ]:
print(l[0])
print(l[-1])
print(l[2])
print(l[-2])

10
50
30
40

In [29]:
l = [10,"js",20,"py","java",True,10+5j]
print(type(l))
#slicing
print(l[:3])
print(l[1:2])
print(l[3:4])
print(l[-1:5])
print(l[-1:-4:-1])
print(l[5:2])
print(l)

<class 'list'>
[10, 'js', 20]
['js']
['py']
[]
[(10+5j), True, 'java']
[]
[10, 'js', 20, 'py', 'java', True, (10+5j)]

In [31]:
# updating existing elements using index
print(id(l))
l[0] = "c"
print(l)
print(id(l))

1605543929984
['c', 'js', 20, 'py', 'java', True, (10+5j)]
1605543929984

In [32]:
l[2] = "js";
print(l)

['c', 'js', 'js', 'py', 'java', True, (10+5j)]

In [ ]:
# math operator in strings & list
print("hello" + "world");
print("hello" * 5);
l1 = [20,30];
l2 = ['red',"blue"];
l3 = l1 + l2
print(l3)
print(l3 * 2)
# print(l1 * l2)

helloworld
hellohellohellohellohello
[20, 30, 'red', 'blue']
[20, 30, 'red', 'blue', 20, 30, 'red', 'blue']

TypeError: can't multiply sequence by non-int of type 'list'

In [ ]:
l = ["py","js","c","java"];
s = input("enter a string:");
if s in l:
     print(f"the element is present at {l.index(s)}")
else:
     print("the element is not present in sequence")

True
the element is not present in sequence

In [66]:
# methods in list
l = ["py"];
# adding element
l.append(10)
l.append("java")
l.append(20)
# remove element
l.pop()
l.pop()
print(l)

['py', 10]

In [67]:
# inserting specific index
print(l)
l.insert(0,20);
l.insert(1,100)
print(l)

['py', 10]
[20, 100, 'py', 10]

In [68]:
# removing at specific index
l.pop();
l.remove(100);
l.remove('py')
print(l)

[20]

In [80]:
l = [10,20]
l.extend([30,40,True])
print(l)
print(len(l))
print(l.index(30))
# print(l.index(50))
l.clear()
print(l)
#important
l = ["one","two"];
l1 = l
print(id(l),id(l1))
l1[0] = 100;
print(l,l1)
l2 = l.copy()
l2[-1] = 200;
print(l,l2)

[10, 20, 30, 40, True]
5
2
[]
1605551261696 1605551261696
[100, 'two'] [100, 'two']
[100, 'two'] [100, 200]

In [85]:
l = [100,10,200,100];
print(l.count(100))
l.sort()
l.reverse()
print(l)

2
[200, 100, 100, 10]

In [ ]:
# tuples
#1 way 
t = (10,20,30);
print(t,type(t))
t1 = (10,);
print(type(t1))
# 2 way
t2 = 10,
print(type(t2))

(10, 20, 30) <class 'tuple'>
<class 'tuple'>
<class 'tuple'>

In [ ]:
 # Union of A and B (All elements from both sets. NO DUPLICATES
 # Intersection of A and B (Common items in both sets)
 # difference set of elements that are only in A but not in B

# Dictionary is a mutable data type in Python.
# A python dictionary is a collection of key and value pairs separated by a colon (:) & enclosed in curly braces {}.
# Keys must be unique in a dictionary, duplicate values are allowed.

In [8]:
l = [[10,"py",[100,200]],["js",20],[30,"c"]]
print(l,type(l))
print(l[0][-1][-1])

[[10, 'py', [100, 200]], ['js', 20], [30, 'c']] <class 'list'>
200

In [7]:
print(l[0][0])
print(l[1][1])

10
20

In [15]:
t = (10,20,30,40,50);
print(t[-1])
print(t[-4])
print(t[2:3])
print(t[-1:-3:-1])
print(t[-1:-4:1])
print(t[4:0:1])

50
20
(30,)
(50, 40)
()
()

In [21]:
# math
t1 = 10,20;
t2 = (30,40);
print(t1 + t2)
print(t1 + tuple([55,66]))
print(list(t1) + [55,66])
print(t1 * 2)

(10, 20, 30, 40)
(10, 20, 55, 66)
[10, 20, 55, 66]
(10, 20, 10, 20)

In [2]:
t = 10,20,30,40,50;
print(20 in t)
print(60 in t)
print(60 not in t)#t
print(20 not in t)#f

True
False
True
False

In [27]:
print(t)
for i in t:
     print(i)
     if i == 40:
          print("The element is found")
     else:
          print("doesn't exist")

(10, 20, 30, 40, 50)
10
doesn't exist
20
doesn't exist
30
doesn't exist
40
The element is found
50
doesn't exist

In [34]:
for i in t:
     print(i)

10
20
30
40
50

In [5]:
i = 0;
while i < len(t):
     print(t[i],i,i - len(t))
     i += 1

10 0 -5
20 1 -4
30 2 -3
40 3 -2
50 4 -1

In [ ]:
#methods in tuple
# t[0] = 100
print((10,10,20,30).count(10))
print((10,20,30).index(30))
# print((10,20,30).index(40))

2
2

ValueError: tuple.index(x): x not in tuple

In [16]:
# creating sets 2 ways
# 1 way
s = {100,200,"python",200,"python"}
print(s,type(s))
# 2 way 
t = "py",'js',"py","js"
l = [10,30,20]
s1 = set(t);
s2 = set(l)
print(s1)
print(s2)

{200, 'python', 100} <class 'set'>
{'js', 'py'}
{10, 20, 30}

In [22]:
# how to create empty sets
l = [];
print(l,len(l),type(l))
t = ();
print(t,len(t),type(t))
s = {};
print(s,len(s),type(s))
# empty set we have use set fun
s = set()
print(s,len(s),type(s))

[] 0 <class 'list'>
() 0 <class 'tuple'>
{} 0 <class 'dict'>
set() 0 <class 'set'>

In [30]:
s = {10};
#methods inside set
s.add(20)
s.add(50)
s.pop() # any random element
s.remove(20)
s.remove(30)
print(s)

KeyError: 30

In [ ]:
# write a program for separate postive  and negative numbers into different arrays
l = [10,-5,1,-2,200,50,-120,500];
p = [];
n = [];
for i in l:
     if i > 0:
          p.append(i)
     else:
          n.append(i)
print(l);
print(p);
print(n)

sum_positive = 0;
sum_negative = 0;

for x in p:
    sum_positive = sum_positive + x
print("the sum of postive:",sum_positive)

[10, -5, 1, -2, 200, 50, -120, 500]
[10, 1, 200, 50, 500]
[-5, -2, -120]
10
1
200
50
500
the sum of postive: 761

In [9]:
# unpacking values from tuple
t = ("python","node.js","java","c++");
(p,n,*i) = t;
print(p);
print(n)
print(i)

python
node.js
['java', 'c++']

In [ ]:
# creating a set 
s = {10,20,20,30};
print(s)
# empty set
s1 = {};
print(type(s1))
s2 = set();
print(type(s2))

{10, 20, 30}
<class 'dict'>
<class 'set'>

In [17]:
# index or slicing will not apply for set
# print(s[0])
# add or remove elements from set
s = {"py",10,True,5.5};
print(len(s))
# add method will insert a single element
s.add("telugu");
# update will add multiple elements with any iterable
s.update(["hindi","telugu","js"])
s.update({"a","b","c","a"})
print(s,len(s))
# remove elements from set
s.remove("hindi");
# s.remove(500) error
s.discard("py")
print(s.discard(500))
print(s)
# copy method to avoid mutation of data
s1 = {10,20};
s2 = s1.copy();
s2.add("py");
print(s1,s2)
# clear;
s1.clear();
print(s1)

4
{True, 'b', 'py', 5.5, 10, 'a', 'telugu', 'js', 'hindi', 'c'} 10
None
{True, 'b', 5.5, 10, 'a', 'telugu', 'js', 'c'}
{10, 20} {'py', 10, 20}
set()

In [22]:
#math operations
s1 = {10,20};
s2 = {10,30};
#print(s1  + s2) # + will not work
print([10,20] + [500])
# print(s1 * 2) not work 
# membership operators
print(10 in s1)

[10, 20, 500]
True

In [ ]:
# loops in set final output{20,40,60,80}
s = {10,20,30,30,40};
l = [];
double = set();# empty for new values
for x in s:
     l.append(x * 2);
print(l)
double.update(l); # multiple list values
print("Updated values  of set:",double)

[80, 20, 40, 60]
Updated values  of set: {80, 40, 20, 60}

In [36]:
l = [100,200,100,300,200,400,500];
s = set(l)
print(s)
new_list = list(s)
print(l,new_list)

{100, 200, 300, 400, 500}
[100, 200, 100, 300, 200, 400, 500] [100, 200, 300, 400, 500]

In [42]:
s1 = {1,2,3};
s2 = {3,4,5};
# set operations
print(s1.union(s2))
print(s1.intersection(s2))
print(s1.difference(s2))
print(s2.difference(s1))
print(max(s1))
print(min(s1))

{1, 2, 3, 4, 5}
{3}
{1, 2}
{4, 5}
3
1

In [ ]:
d = {"name":"sai","age":60,"job":"bank manager",1:"ravi"}
print(d,type(d))
print(len(d))
#accessing values from dict
print(d["name"])
print(d["job"])
# 2 way get 
print(d.get("age"))
# update dict 
d["address"] = "hyd";
d["address"] = "ap"
print(d)
# print(d[2]);
print(d.get(2))
# methods in dict
print(d.keys())
print(d.values())
print(d.items())
d.update({"age":10})
print(d)

{'name': 'sai', 'age': 60, 'job': 'bank manager', 1: 'ravi'} <class 'dict'>
4
sai
bank manager
60
{'name': 'sai', 'age': 60, 'job': 'bank manager', 1: 'ravi', 'address': 'ap'}
None
dict_keys(['name', 'age', 'job', 1, 'address'])
dict_values(['sai', 60, 'bank manager', 'ravi', 'ap'])
dict_items([('name', 'sai'), ('age', 60), ('job', 'bank manager'), (1, 'ravi'), ('address', 'ap')])

TypeError: update expected at most 1 argument, got 2

In [24]:
# empty dict
student = {};
# adding data to dict
student["name"] = "rk";
student["age"] = 20;
# 2way update method will check if key is already existed it will update current value or else it add key and value to dict
student.update({"gender":"male"})
student.update({"age":25});
student.update([("address","hyd")])
print(len(student),student);
# getting data
print(student["name"]);
# print(student["friends"]);
print(student.get("age"))
print(student.get("friends",["sai","siva"]));
print(student.get(1,"NA"))
print(student.keys())
print(student.values())
print(student.items())
#remove elements 
print(student.popitem())
student.pop("gender")
del student["age"];
# student.pop("friends")
# del student["friends"]
print(student.clear())
print(student)
#copy
d1 = {1:10,2:20};
d2 = d1.copy();
print(id(d1),id(d2))
d1[1] = "python";
print(d1,d2)

4 {'name': 'rk', 'age': 25, 'gender': 'male', 'address': 'hyd'}
rk
25
['sai', 'siva']
NA
dict_keys(['name', 'age', 'gender', 'address'])
dict_values(['rk', 25, 'male', 'hyd'])
dict_items([('name', 'rk'), ('age', 25), ('gender', 'male'), ('address', 'hyd')])
('address', 'hyd')
None
{}
2646061705280 2646062002624
{1: 'python', 2: 20} {1: 10, 2: 20}

In [36]:
# for value in sequence
d = {
     "name":"sai",
     "age":25,
     "gender":"M",
     "married":False,
     "friends":["rk","siva"]
}
# we keys
for i in d:
     print(i)
# to get values from dict
print("to get values");
for i in d.values():
     print(i)
# get both key values
for k,v in d.items():
     print(k,"------",v)

name
age
gender
married
friends
to get values
sai
25
M
False
['rk', 'siva']
name ------ sai
age ------ 25
gender ------ M
married ------ False
friends ------ ['rk', 'siva']

In [ ]:
#array
import array as arr
a = arr.array("i",[10,20,30]);
# s = arr.array("i",[1,"a"]);
s = arr.array("u","py");
print(a[0])
print(a[-1])
print(a[-1:0])
print(a.index(30))
print(a.append(50))

10
30
array('i')
2
None
array('i', [10, 20, 30, 50])

C:\Users\ramak\AppData\Local\Temp\ipykernel_10996\1210204663.py:5: DeprecationWarning: The 'u' type code is deprecated and will be removed in Python 3.16
  s = arr.array("u","py");

In [57]:
import numpy  as np
# from numpy import array
a1 = np.array([1,2,3,4]);
a2 = np.array([[10,20],[30,40]]);
a3 = np.array([[[100,200],[300,400]]])
print(a1.ndim,a1);
print(a2.ndim,a2);
print(a3.ndim,a3);
z1 = np.zeros(1)
z2 = np.zeros((2))
print(z1.ndim,z1)
print(z2.ndim,z2)

1 [1 2 3 4]
2 [[10 20]
 [30 40]]
3 [[[100 200]
  [300 400]]]
1 [0.]
1 [0. 0.]

In [4]:
#using np with arrays
import numpy as np
# from numpy import array
a1 = np.array([1,2,3]);
print(a1,a1.ndim)
a2 = np.array([[10,20],[30,40]]);
print(a2,a2.ndim)
a3 = np.array([[[100,200,300],[400,500,600]]]);
print(a3,a3.ndim)

[1 2 3] 1
[[10 20]
 [30 40]] 2
[[[100 200 300]
  [400 500 600]]] 3

In [8]:
l = [10,20,30];
new = [];
for i in l:
     new.append(i * 2)
print(l* 2)
print(new)
# numpy
l1 = np.array([10,20,30]);
print(l1 * 2)

[10, 20, 30, 10, 20, 30]
[20, 40, 60]
[20 40 60]

In [ ]:
l1 = [10,20];
l2 = [30,40];
print(l1 + l2)
# numpy
n1 = np.array([10,20]);
n2 = np.array([30,40]);
print(n1+n2)
print(n1*n2)

[10, 20, 30, 40]
[40 60]
[300 800]

In [20]:
# array creation methods
z1 = np.zeros(5)
print(z1,z1.ndim)
z2 = np.zeros((2,3));
print(z2,z2.ndim)
one = np.ones((7,7));
print(one,one.ndim)
# z3 = np.five((5,5))
z3 = np.full((3,3),5);
print(z3,z3.ndim)

z4 = np.eye(4);
print(z4)

[0. 0. 0. 0. 0.] 1
[[0. 0. 0.]
 [0. 0. 0.]] 2
[[1. 1. 1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1. 1. 1.]] 2
[[5 5 5]
 [5 5 5]
 [5 5 5]] 2
[[1. 0. 0. 0.]
 [0. 1. 0. 0.]
 [0. 0. 1. 0.]
 [0. 0. 0. 1.]]

In [ ]:
#arange
a = np.arange(10);
b = np.arange(1,11);
print(a)
print(b)

[0 1 2 3 4 5 6 7 8 9]
[ 1  2  3  4  5  6  7  8  9 10]

In [33]:
#attributes
a = np.array([10,20,30,40]);
print(a.ndim);
b = np.array([[100,200,300],[300,400,500]])
print(b.shape,b,b.ndim);
print(a.size)
print(b.size)
print(a.itemsize)
print(a.nbytes)
print(a.dtype)

1
(2, 3) [[100 200 300]
 [300 400 500]] 2
4
6
8
32
int64

In [44]:
#data types
a = np.array([10,20,30]);
print(a.dtype)
# by using int you can represent + or - num
b = np.array([100,200,-20],dtype="int16");
c = np.array([40,50],dtype="uint8");
d = np.array([5.5,6.6],dtype="float32")
print(b.dtype)
print(c.dtype)
print(d.dtype)

int64
int16
uint8
float32

In [59]:
#shape and reshape
a = np.arange(1,10);
print(a,a.shape)
print(a.reshape((3,3)))
print(a.resize((3,3)));
print(a)
print(a[0][1])
b = np.matrix([10,20,30]);
print(b)

[1 2 3 4 5 6 7 8 9] (9,)
[[1 2 3]
 [4 5 6]
 [7 8 9]]
None
[[1 2 3]
 [4 5 6]
 [7 8 9]]
2
[[10 20 30]]

In [70]:
print("hello welcome to functions")
def greetings():
     print("hello");
     print("bye")
# calling the func
greetings()
print(greetings())
def welcome():
     print("Welcome rk");
welcome()

hello welcome to functions
hello
bye
hello
bye
None
Welcome rk

In [ ]:
a = 10;
b = 20;
print("sum is:",a+b);
print("sub is:",a-b);
print("product is :",a *b)
a = 100;
b = 200;
print("sum is:",a+b);
print("sub is:",a-b);
print("product is :",a *b)

In [5]:
#1. type of function with out parameters arguments and without return
def welcome():
     print("Hello python");
welcome()
welcome()
welcome()
print(welcome())

Hello python
Hello python
Hello python
Hello python
None

In [ ]:
def greetings():
     print("rk");
greetings()
greetings()
greetings()

rk
rk
rk

In [ ]:
# 2 type function with parameters and arguments without return type
def display(name):
     print("welcome ,",name);
display("rk")
display("kittu")

welcome , rk
welcome , kittu

In [16]:
# 3 type function with parameters and arguments with return type
def sum(a,b):
     return a + b;
print(sum(5,10))
# correct way to rev data from func
result = sum(5,10);
print(result)

15
15

In [23]:
# type of arguments
#1. positional arguments 
def display(name,age):
     print(f"my name is {name} and age is {age}")
display("rk",100)
display(100,"rk")
#2. keyword arguments to solve problem from positinal 
display(name="rk",age=100)
# for keyword argu order is not important
display(age=100,name="rk")
# display(name="rk",year=100)

my name is rk and age is 100
my name is 100 and age is rk
my name is rk and age is 100
my name is rk and age is 100

In [ ]:
# 3.default parameters
def sum(a=30,b=50):
     return a + b
print(sum(10,5))
print(sum(10,b=5))
print(sum(10))
print(sum(5,10))
print(sum(a=50,b=100))

15
15
60
15
80

In [ ]:
# i want to create function it take any number of arguments
#4.Variable-Length Arguments
def square(*i):
     print(i);
square()
square(10)
square(5,2,3)
square(10,20,30,40,50)

()
(10,)
(5, 2, 3)
(10, 20, 30, 40, 50)
{'name': 'rk', 'age': '100', 'job': 't'}

In [36]:
#5. kwargs keyword Variable-Length Arguments
def details(**k):
     print(k)
     for k,v in k.items():
          print(k,"-------",v)
details(name="rk",age="100",job = "t")
details()

{'name': 'rk', 'age': '100', 'job': 't'}
name ------- rk
age ------- 100
job ------- t
{}

made in indian mobile:, lava mobiles
we have international mobiles samsung
lava mobiles

In [8]:
sam = "samsung";
m = "karbon"
def shop():
     print("welcome to our shop")
     global l
     l = "lava"
     global jr
     jr = "jio"
     global m
     m = "micromax"
     print("i want to buy a good mobile",sam)
shop()
print("i want to buy indian mobile ",l)
print(jr)

print(m)

welcome to our shop
i want to buy a good mobile samsung
i want to buy indian mobile  lava
jio
micromax

In [10]:
#enclosed scope
def  father():
     p = "50 lakhs"
     def son():
          print("you can get your father properties",p)
          own = "1cr"
     son()
     print(own)
father()

you can get your father properties 50 lakhs

NameError: name 'own' is not defined

In [16]:
#lambda func lambda  argument:expression 
def square(n):
     return n*n
print(square(5))
print(square(10))
# with lambda
s = lambda n:n*n;
print(s(5))
sum = lambda a,b :a+b
print(sum(5,4))
x = 10;
y = 5;

l = lambda x,y:f"{x} is largest" if x >y else f"{y} is the largest";
print(l(x,y))
p = "python";
l = "language";
print(p+l)

s = lambda a,b: a + " "+ b;
print(s(p,l))

25
100
25
9
10 is largest
pythonlanguage
python language

In [ ]:
#ternary operator
x = 10;
result = "postive" if x > 0 else "negative"
r ="even" if x%2 == 0 else "odd"

answer = lambda x:"postive"  if x > 0 else "negative";
c = lambda y:"even" if y%2 ==0 else "odd"
print(answer(7))
print(answer(-5))
print(c(23))

postive
even
postive
negative
odd

In [26]:
l = [10,20,30];
new = [];
for i in l:
     new.append(i * 2)
print(l* 2)
print(new)

[10, 20, 30, 10, 20, 30]
[20, 40, 60]

In [28]:
n = list(map(lambda i:i * 2,l));
print(n)

[20, 40, 60]

In [38]:
def square(n):
     return n*n
l = [5,10,6];
a = []
for i in l:
     a.append(i * i)
print(a)
s = list(map(square,l));
s1 = list (map(lambda n:n*n,l))
print(s)
print(s1)

[25, 100, 36]
[25, 100, 36]
[25, 100, 36]

In [ ]:
l = [10,5,3,20];
f = list(filter(lambda n:n%2 !=0,l));
print(f)
l2 = [10,-5,3,-3,2];
f2 = list(filter(lambda n:n<0,l2));
print(f2)
from functools import reduce;
result = reduce(lambda x,y:x+y,l);
print(result)

[5, 3]
[-5, -3]
38

In [22]:
l = [10,20,30];
# with out reduce method
# with reduce method
sum = 0;
for i in l:
     print(i)
     sum += i
print(sum)

from functools import reduce
r = reduce(lambda x,y:x+y,l);
print(r)

10
20
30
60
60

In [23]:
l

[10, 20, 30]

In [ ]:
e = [];
for i in l:
     print(i)
     e.append(i*2)
print(e)

d = reduce(lambda x,y:x+y,list(map(lambda x:x*2,l)))
print(d)

#use lambda func to find age >  18

10
20
30
[20, 40, 60]
120

In [47]:
#open 
#read
#write
#close
#with

#file name,mode r read,w write will overwrite the existing content ,a append will add content without deleting existing content
file_obj = open("details.txt","r");
print(file_obj)
file_data = file_obj.read();
print(file_data)
file_obj.close()

<_io.TextIOWrapper name='details.txt' mode='r' encoding='cp1252'>
welcome to python