In [1]:
#1. type of function with out parameters arguments and return
def welcome():
     print("welcome to python")  
# calling function
welcome()
welcome()
welcome()
print(welcome())

welcome to python
welcome to python
welcome to python
welcome to python
None

In [2]:
def greetings():
     print("rk");
greetings()

rk

In [3]:
# 2 type function with parameters and arguments without return type
def display(name):
     print("welcome ,",name);
# calling func
display("rk");
display("sai");
display("luffy")

welcome , rk
welcome , sai
welcome , luffy

In [4]:
# 3 type function with parameters and arguments with return type
def sum(a,b):
     # print(a+b);
     return a + b
print(sum(5,10))
# correct way to rev data from func
# print(sum(10,20))
c = sum(10,20);
print(c)

15
30

In [5]:

# type of arguments
#1. positional arguments 
def display(name,age):
     print(f"my name is {name} and age is {age}");
display("rk",100)
display(100,"rk")
#2. keyword arguments to solve problem from positinal 
display(name="rk",age=100)
# for keyword argu order is not important
display(age=100,name="rk")
# display(name="rk",year=100)

my name is rk and age is 100
my name is 100 and age is rk
my name is rk and age is 100
my name is rk and age is 100

In [6]:
# 3.default arguments
def sum(a=100,b=50):
     print(a+b);
sum(10,20)
sum(10)
sum(100,200)
sum(100)
sum()

30
60
300
150
150

In [7]:
#4.Variable-Length Arguments
def m(a,*n):
     print(n);
m(2)
m(5)
m(10,20)
m(10,20,30,40,50)

()
()
(20,)
(20, 30, 40, 50)

In [8]:
#5 keyword length arguments ** 
def display(**n):
     print(n);
display(name="rk",age=100,job="t");
# display(10,name="rk")

{'name': 'rk', 'age': 100, 'job': 't'}