103]:
Keywords
Keywords are the reserved words in Python and can't be used as an identifier

3]:

In [ ]:
4]:
Identifiers
An identifier is a name given to entities like class, functions, variables, etc. It helps to dif ferentiate
one entity from another .

13]:

In [ ]:
14]:['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'cl
ass', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'fr
om', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or',  
'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']  
Out[4]: 35
  File "<ipython-input-13-37e58aaf2d3b>" , line 1 
    1var = 10 # Identifier can't start with a digit  
       ^  
SyntaxError : invalid syntax  
 
 
  File "<ipython-input-14-cfbf60736601>" , line 1 
    val2@ = 35 # Identifier can't use special symbols  
          ^  
SyntaxError : invalid syntax  
 
 import sys
import keyword
import operator
from datetime  import datetime
import os
print(keyword.kwlist) # List all Python Keywords
len(keyword.kwlist) # Python contains 35 keywords
1var = 10 # Identifier can't start with a digit 
val2@ = 35 # Identifier can't use special symbols 
3/25/2021 Python - Jupyter Notebook
localhost:8889/notebooks/Documents/GitHub/Public/Python/Python.ipynb 2/118

15]:

16]:

In [ ]:
17]:
Comments in Python
Comments can be used to explain the code for more readabilty .

18]:

19]:

20]:

In [ ]:
21]:
Statements
Instructions that a Python interpreter can execute.  File "<ipython-input-15-f7061d4fc9ba>" , line 1 
    import = 125 # Keywords can't be used as identifiers  
           ^  
SyntaxError : invalid syntax  
 
 import = 125 # Keywords can't be used as identifiers
"""
Correct way of defining an identifier 
(Identifiers can be a combination of letters in lowercase (a to z) or uppercase (
"""
 
val2 = 10 
val_ = 99
# Single line comment
val1  = 10
# Multiple 
# line 
# comment
val1  = 10
'''
Multiple 
line 
comment
'''
val1  = 10
"""
Multiple 
line 
comment
"""
val1  = 10
3/25/2021 Python - Jupyter Notebook
localhost:8889/notebooks/Documents/GitHub/Public/Python/Python.ipynb 3/118

27]:

28]:

26]:

29]:
Indentation
Indentation refers to the spaces at the beginning of a code line. It is very important as Python uses
indentation to indicate a block of code.If the indentation is not correct we will endup with
IndentationError  error .

37]:

In [ ]:
38]:Out[27]: 30
Out[28]: ['a', 'b', 'c', 'd']
Out[26]: 290
Out[29]: ['a', 'b', 'c', 'd']
P is equal to 10  
  File "<ipython-input-38-d7879ffaae93>" , line 3 
    print ('P is equal to 10')  
        ^  
IndentationError : expected an indented block  
 
 # Single line statement
p1 = 10 + 20
p1
# Single line statement
p2 = ['a' , 'b' , 'c' , 'd']
p2
# Multiple line statement
p1 = 20 + 30 \
     + 40 + 50 +\
     + 70 + 80
p1
# Multiple line statement
p2 = ['a' , 
      'b' , 
      'c' , 
      'd' 
     ]
p2
p = 10
if p == 10:
    print ('P is equal to 10' ) # correct indentation
# if indentation is skipped we will encounter "IndentationError: expected an inde
p = 10
if p == 10:
print ('P is equal to 10' )
3/25/2021 Python - Jupyter Notebook
localhost:8889/notebooks/Documents/GitHub/Public/Python/Python.ipynb 4/118

39]:

43]:

45]:

In [ ]:
48]:
Docstrings
1) Docstrings provide a convenient way of associating documentation with functions, classes,
methods or modules.
2) They appear right after the definition of a function, method, class, or module.

In [ ]:
49]:0 
1 
2 
3 
4 
  File "<ipython-input-43-4a6de03bf63e>" , line 2 
    print(i)  
        ^  
IndentationError : expected an indented block  
 
 
0 
1 
2 
3 
4 
0 
1 
2 
3 
4 
20 for i in range(0,5):
    print(i)               # correct indentation
# if indentation is skipped we will encounter "IndentationError: expected an inde
for i in range(0,5):
print(i)
for i in range(0,5): print(i)  # correct indentation but less readable
j=20
for i in range(0,5):
    print(i) # inside the for loop
print(j) # outside the for loop
def square(num):
    '''Square Function :- This function will return the square of a number'''
    return num**2
3/25/2021 Python - Jupyter Notebook
localhost:8889/notebooks/Documents/GitHub/Public/Python/Python.ipynb 5/118

51]:

52]:

53]:

54]:

55]:

56]:
Variables
A Python variable is a reserved memory location to store values.A variable is created the moment
you first assign a value to it.

75]:

76]:

In [ ]:
77]:Out[51]: 4
Out[52]: 'Square Function :- This function will return the square of a number'
Odd Number  
Even Number  
Out[56]: 'evenodd Function :- This function will test whether a numbr is Even or Odd'
Out[76]: 140735029552432
Out[77]: '0x7fff6d71a530'square(2)
square.__doc__  # We can access the Docstring using __doc__ method
def evenodd(num):
    '''evenodd Function :- This function will test whether a numbr is Even or Odd
    if num % 2 == 0:
        print("Even Number" )
    else:
        print("Odd Number" )
evenodd(3)
evenodd(2)
evenodd.__doc__
p = 30
'''
id() function returns the “identity” of the object. 
The identity of an object - Is an integer
                          - Guaranteed to be unique
                          - Constant for this object during its lifetime. 
'''
id(p)
hex(id(p)) # Memory address of the variable
3/25/2021 Python - Jupyter Notebook
localhost:8889/notebooks/Documents/GitHub/Public/Python/Python.ipynb 6/118

94]:

95]:

96]:

146]:
Variable Assigment

In [ ]:
100]:Out[94]: (20, int, '0x7fff6d71a3f0')
Out[95]: (20, int, '0x7fff6d71a3f0')
Out[96]: (20, int, '0x7fff6d71a3f0')
Out[146]: 30
10 
2.57 
Python Language  p = 20  #Creates an integer object with value 20 and assigns the variable p to po
q = 20  # Create new reference q which will point to value 20. p & q will be poin
r = q  # variable r will also point to the same location where p & q are pointing
p , type(p), hex(id(p)) # Variable P is pointing to memory location '0x7fff6d71a3
q , type(q), hex(id(q)) 
r , type(r), hex(id(r)) 
p = 20
p = p + 10 # Variable Overwriting
p
intvar = 10 # Integer variable
floatvar  = 2.57 # Float Variable
strvar = "Python Language"  # String variable
 
print(intvar)
print(floatvar )
print(strvar)
3/25/2021 Python - Jupyter Notebook
localhost:8889/notebooks/Documents/GitHub/Public/Python/Python.ipynb 7/118Multiple Assignments

102]:

105]:
Data Types
Numeric

135]:

126]:

In [ ]:
136]:10 
2.57 
Python Language  
44 44 44 44  
10 
<class 'int'>  
28 
10  is Integer? True  
92.78 
<class 'float'>  
24 
92.78  is float? True  
(25+10j)  
<class 'complex'>  
32 
(25+10j)  is complex? True  intvar , floatvar  , strvar = 10,2.57,"Python Language"  # Using commas to separate
print(intvar)
print(floatvar )
print(strvar)
p1 = p2 = p3 = p4 = 44 # All variables pointing to same value
print(p1,p2,p3,p4)
val1 = 10  # Integer data type
print(val1)
print(type(val1)) # type of object
print(sys.getsizeof (val1)) # size of integer object in bytes 
print(val1, " is Integer?" , isinstance (val1, int)) # val1 is an instance of int c
val2 = 92.78 # Float data type
print(val2)
print(type(val2)) # type of object
print(sys.getsizeof (val2)) # size of float object in bytes
print(val2, " is float?" , isinstance (val2, float)) # Val2 is an instance of float
val3 = 25 + 10j # Complex data type
print(val3)
print(type(val3)) # type of object
print(sys.getsizeof (val3)) # size of float object in bytes
print(val3, " is complex?" , isinstance (val3, complex)) # val3 is an instance of c
3/25/2021 Python - Jupyter Notebook
localhost:8889/notebooks/Documents/GitHub/Public/Python/Python.ipynb 8/118

119]:

120]:

138]:
Boolean
Boolean data type can have only two possible values true or false .

139]:

140]:

143]:

144]:

148]:

235]:

236]:

237]:

In [ ]:
238]:
StringsOut[119]: 24
Out[120]: 24
Out[138]: 32
<class 'bool'>  
<class 'bool'>  
Out[148]: True
Out[235]: False
Out[236]: True
Out[237]: False
Out[238]: Falsesys.getsizeof (int()) # size of integer object in bytes 
sys.getsizeof (float())  # size of float object in bytes
sys.getsizeof (complex()) # size of complex object in bytes
bool1 = True
bool2 = False
print(type(bool1))
print(type(bool2))
isinstance (bool1, bool)
bool(0)
bool(1)
bool(None)
bool (False)
3/25/2021 Python - Jupyter Notebook
localhost:8889/notebooks/Documents/GitHub/Public/Python/Python.ipynb 9/118String Creation

193]:

194]:

195]:

196]:

197]:

198]:

199]:

In [ ]:
200]:
String IndexingHELLO PYTHON  
Hello World  
Hello World  
Hello                
            World  
Hello 
           World  
Happy Monday Everyone  
Out[199]: 'Woohoo Woohoo Woohoo Woohoo Woohoo '
Out[200]: 35str1 = "HELLO PYTHON"
 
print(str1)
mystr = 'Hello World'  # Define string using single quotes
print(mystr)
mystr = "Hello World"  # Define string using double quotes
print(mystr)
mystr = '''Hello               
            World '''    # Define string using triple quotes
print(mystr)
mystr = """Hello
           World"""   # Define string using triple quotes
print(mystr)
mystr = ('Happy '
         'Monday '
         'Everyone' )
print(mystr)
mystr2 = 'Woohoo '
mystr2 = mystr2*5
mystr2
len(mystr2) # Length of string
3/25/2021 Python - Jupyter Notebook
localhost:8889/notebooks/Documents/GitHub/Public/Python/Python.ipynb 10/118

201]:

202]:

203]:

204]:

205]:

206]:
String Slicing

207]:

208]:

In [ ]:
209]:Out[201]: 'HELLO PYTHON'
Out[202]: 'H'
Out[203]: 'N'
Out[204]: 'N'
Out[205]: 'P'
Out[206]: ' '
Out[207]: 'HELLO'
Out[208]: 'PYTHON'
Out[209]: 'THON'str1
str1[0] # First character in string "str1"
str1[len(str1)-1] # Last character in string using len function
str1[-1] # Last character in string
str1[6] #Fetch 7th element of the string 
str1[5]
str1[0:5] # String slicing - Fetch all characters from 0 to 5 index location excl
str1[6:12] # String slicing - Retreive all characters between 6 - 12 index loc ex
str1[-4:] # Retreive last four characters of the string
3/25/2021 Python - Jupyter Notebook
localhost:8889/notebooks/Documents/GitHub/Public/Python/Python.ipynb 11/118

210]:

211]:

212]:
Update & Delete String

213]:

214]:

215]:
String concatenation

In [ ]:
216]:Out[210]: 'PYTHON'
Out[211]: 'HELL'
Out[212]: 'HELLO '
Out[213]: 'HELLO PYTHON'
---------------------------------------------------------------------------  
TypeError                                  Traceback (most recent call last)  
<ipython-input-214-ea670ff3ec72>  in <module>  
     1 #Strings are immutable which means elements of a string cannot be chang
ed once they have been assigned.  
----> 2 str1[0:5] = 'HOLAA' 
TypeError : 'str' object does not support item assignment  
---------------------------------------------------------------------------  
NameError                                  Traceback (most recent call last)  
<ipython-input-215-7fcc0cc83dcc>  in <module>  
      1 del str1 # Delete a string  
----> 2 print(srt1) 
 
NameError : name 'srt1' is not defined  
 
HelloAsif  str1[-6:] # Retreive last six characters of the string
str1[:4] # Retreive first four characters of the string
str1[:6] # Retreive first six characters of the string
str1
#Strings are immutable which means elements of a string cannot be changed once th
str1[0:5] = 'HOLAA' 
del str1 # Delete a string
print(srt1)
# String concatenation
s1 = "Hello"
s2 = "Asif"
s3 = s1 + s2
print(s3)
3/25/2021 Python - Jupyter Notebook
localhost:8889/notebooks/Documents/GitHub/Public/Python/Python.ipynb 12/118

217]:
Iterating through a String

218]:

219]:

In [ ]:
220]:Hello Asif  
H 
e 
l 
l 
o 
  
E 
v 
e 
r 
y 
o 
n 
e 
(0, 'H')  
(1, 'e')  
(2, 'l')  
(3, 'l')  
(4, 'o')  
(5, ' ')  
(6, 'E')  
(7, 'v')  
(8, 'e')  
(9, 'r')  
(10, 'y')  
(11, 'o')  
(12, 'n')  
(13, 'e')  # String concatenation
s1 = "Hello"
s2 = "Asif"
s3 = s1 + " " + s2
print(s3)
mystr1 = "Hello Everyone"
# Iteration  
for i in mystr1:
    print(i)
for i in enumerate (mystr1):
    print(i)
3/25/2021 Python - Jupyter Notebook
localhost:8889/notebooks/Documents/GitHub/Public/Python/Python.ipynb 13/118

221]:
String Membership

222]:
String Partitioning

In [ ]:
256]:Out[221]: [(0, 'H'),  
 (1, 'e'),  
 (2, 'l'),  
 (3, 'l'),  
 (4, 'o'),  
 (5, ' '),  
 (6, 'E'),  
 (7, 'v'),  
 (8, 'e'),  
 (9, 'r'),  
 (10, 'y'),  
 (11, 'o'),  
 (12, 'n'),  
 (13, 'e')]
True 
True 
False 
('Natural language processing with Python ', 'and', ' R and Java')  list(enumerate (mystr1)) # Enumerate method adds a counter to an iterable and retu
# String membership
 
mystr1 = "Hello Everyone"
 
print ('Hello' in mystr1) # Check whether substring "Hello" is present in string 
print ('Everyone'  in mystr1) # Check whether substring "Everyone" is present in s
print ('Hi' in mystr1) # Check whether substring "Hi" is present in string "mysrt
"""
The partition() method searches for a specified string and splits the string into
 
 - The first element contains the part before the argument string.
 
 - The second element contains the argument string.
 
 - The third element contains the part after the argument string.
"""
 
str5 = "Natural language processing with Python and R and Java"
L = str5.partition ("and") 
print(L)
3/25/2021 Python - Jupyter Notebook
localhost:8889/notebooks/Documents/GitHub/Public/Python/Python.ipynb 14/118

257]:
String Functions

267]:

268]:

270]:

269]:

272]:

273]:

274]:

In [ ]:
275]:('Natural language processing with Python and R ', 'and', ' Java')  
Out[267]: '   Hello Everyone  '
Out[268]: 'Hello Everyone'
Out[270]: '   Hello Everyone'
Out[269]: 'Hello Everyone  '
Out[272]: '*********Hello Everyone***********All the Best**********'
Out[273]: 'Hello Everyone***********All the Best'
Out[274]: '*********Hello Everyone***********All the Best'
Out[275]: 'Hello Everyone***********All the Best**********'"""
The rpartition() method searches for the last occurence of the specified string a
containing three elements.
 
 - The first element contains the part before the argument string.
 
 - The second element contains the argument string.
 
 - The third element contains the part after the argument string.
"""
 
str5 = "Natural language processing with Python and R and Java"
L = str5.rpartition ("and") 
print(L)
mystr2 = "   Hello Everyone  "
mystr2
mystr2.strip() # Removes white space from begining & end
mystr2.rstrip() # Removes all whitespaces at the end of the string
mystr2.lstrip() # Removes all whitespaces at the begining of the string
mystr2 = "*********Hello Everyone***********All the Best**********"
mystr2
mystr2.strip('*') # Removes all '*' characters from begining & end of the string
mystr2.rstrip('*') # Removes all '*' characters at the end of the string
mystr2.lstrip('*') # Removes all '*' characters at the begining of the string
3/25/2021 Python - Jupyter Notebook
localhost:8889/notebooks/Documents/GitHub/Public/Python/Python.ipynb 15/118

276]:

277]:

278]:

279]:

280]:

281]:

230]:

231]:

232]:

233]:

In [ ]:
234]:Out[277]: '   hello everyone  '
Out[278]: '   HELLO EVERYONE  '
Out[279]: '   Hollo Everyone  '
Out[280]: 'HelloEveryone'
Out[230]: 2
Out[231]: 3
Out[232]: True
Out[233]: Truemystr2 = "   Hello Everyone  "
mystr2.lower() # Return whole string in lowercase 
mystr2.upper() # Return whole string in uppercase 
mystr2.replace("He" , "Ho") #Replace substring "He" with "Ho"
mystr2.replace(" " , "") # Remove all whitespaces using replace function
mystr5 = "one two Three one two two three"
mystr5.count("one") # Number of times substring "one" occurred in string.
mystr5.count("two") # Number of times substring "two" occurred in string.
mystr5.startswith ("one")  # Return boolean value True if string starts with "one"
mystr5.endswith ("three") # Return boolean value True if string ends with "three"
mystr4 = "one two three four one two two three five five six seven six seven one 
3/25/2021 Python - Jupyter Notebook
localhost:8889/notebooks/Documents/GitHub/Public/Python/Python.ipynb 16/118

235]:

236]:

In [ ]:
237]:Out[235]: ['one', 
 'two', 
 'three',  
 'four',  
 'one', 
 'two', 
 'two', 
 'three',  
 'five',  
 'five',  
 'six', 
 'seven',  
 'six', 
 'seven',  
 'one', 
 'one', 
 'one', 
 'ten', 
 'eight',  
 'ten', 
 'nine',  
 'eleven',  
 'ten', 
 'ten', 
 'nine']
Cost of item1 , item2 and item3 are 40 , 55 and 77  
Cost of item3 , item2 and item1 are 77 , 55 and 40  mylist = mystr4.split() # Split String into substrings
mylist
# Combining string & numbers using format method
item1 = 40
item2 = 55
item3 = 77
 
res = "Cost of item1 , item2 and item3 are {} , {} and {}"
 
print(res.format(item1,item2,item3))
# Combining string & numbers using format method
item1 = 40
item2 = 55
item3 = 77
 
res = "Cost of item3 , item2 and item1 are {2} , {1} and {0}"
 
print(res.format(item1,item2,item3))
3/25/2021 Python - Jupyter Notebook
localhost:8889/notebooks/Documents/GitHub/Public/Python/Python.ipynb 17/118

238]:

239]:

240]:

241]:

242]:

243]:

In [ ]:
244]:                                         WELCOME EVERYONE                      
***************************************** WELCOME EVERYONE ********************
*********************  
                                 WELCOME EVERYONE  
******************************** WELCOME EVERYONE  
19 
19 
False 
True 
True 
True str2 = " WELCOME EVERYONE "
str2 = str2.center(100) # center align the string using a specific character as t
print(str2)
str2 = " WELCOME EVERYONE "
str2 = str2.center(100,'*') # center align the string using a specific character 
print(str2)
str2 = " WELCOME EVERYONE "
str2 = str2.rjust(50) # Right align the string using a specific character as the 
print(str2)
str2 = " WELCOME EVERYONE "
str2 = str2.rjust(50,'*') # Right align the string using a specific character ('*
print(str2)
str4 = "one two three four five six seven"
loc = str4.find("five") # Find the location of word 'five' in the string "str4"
print(loc)
str4 = "one two three four five six seven"
loc = str4.index("five") # Find the location of word 'five' in the string "str4"
print(loc)
mystr6 = '123456789'
print(mystr6.isalpha()) # returns True if all the characters in the text are lett
print(mystr6.isalnum())  # returns True if a string contains only letters or numb
print(mystr6.isdecimal ()) # returns True if all the characters are decimals (0-9)
print(mystr6.isnumeric ()) # returns True if all the characters are numeric (0-9)
3/25/2021 Python - Jupyter Notebook
localhost:8889/notebooks/Documents/GitHub/Public/Python/Python.ipynb 18/118

245]:

246]:

247]:

248]:

258]:

259]:

In [ ]:
264]:True 
True 
False 
False 
False 
True 
False 
False 
True 
False 
False 
True 
51 
51 
Out[264]: '   abc def ghi'mystr6 = 'abcde'
print(mystr6.isalpha()) # returns True if all the characters in the text are lett
print(mystr6.isalnum())  # returns True if a string contains only letters or numb
print(mystr6.isdecimal ()) # returns True if all the characters are decimals (0-9)
print(mystr6.isnumeric ()) # returns True if all the characters are numeric (0-9)
mystr6 = 'abc12309'
print(mystr6.isalpha()) # returns True if all the characters in the text are lett
print(mystr6.isalnum())  # returns True if a string contains only letters or numb
print(mystr6.isdecimal ()) # returns True if all the characters are decimals (0-9)
print(mystr6.isnumeric ()) # returns True if all the characters are numeric (0-9)
mystr7 = 'ABCDEF'
print(mystr7.isupper())  # Returns True if all the characters are in upper case
print(mystr7.islower())  # Returns True if all the characters are in lower case
mystr8 = 'abcdef'
print(mystr8.isupper())  # Returns True if all the characters are in upper case
print(mystr8.islower())  # Returns True if all the characters are in lower case
str6 = "one two three four one two two three five five six one ten eight ten nine
 
loc = str6.rfind("one") # last occurrence of word 'one' in string "str6"
print(loc)
loc = str6.rindex("one") # last occurrence of word 'one' in string "str6"
 
print(loc)
txt = "   abc def ghi   "
 
txt.rstrip()
3/25/2021 Python - Jupyter Notebook
localhost:8889/notebooks/Documents/GitHub/Public/Python/Python.ipynb 19/118

265]:

266]:
Using Escape Character

252]:

In [ ]:
253]:
List
1) List is an ordered sequence of items.
2) W e can have dif ferent data types under a list. E.g we can have integer , float and string items in
a same list.
List Creation

423]:

491]:

424]:

In [ ]:
425]:Out[265]: 'abc def ghi   '
Out[266]: 'abc def ghi'
  File "<ipython-input-252-0fa35a74da86>" , line 2 
    mystr = "My favourite TV Series is "Game of Thrones""  
                                           ^  
SyntaxError : invalid syntax  
 
 
My favourite series is "Game of Thrones"  
<class 'list'>  txt = "   abc def ghi   "
 
txt.lstrip()
txt = "   abc def ghi   "
 
txt.strip()
#Using double quotes in the string is not allowed.
mystr = "My favourite TV Series is " Game of Thrones""
#Using escape character to allow illegal characters
mystr = "My favourite series is \"Game of Thrones\""
print(mystr)
list1 = []      # Empty List
print(type(list1))
list2 = [10,30,60]      # List of integers numbers
list3 = [10.77,30.66,60.89]       # List of float numbers
3/25/2021 Python - Jupyter Notebook
localhost:8889/notebooks/Documents/GitHub/Public/Python/Python.ipynb 20/118

426]:

427]:

428]:

429]:

430]:
List Indexing

432]:

433]:

434]:

435]:

In [ ]:
436]:
List SlicingOut[430]: 3
Out[432]: 10
Out[433]: 'one'
Out[434]: 'o'
Out[435]: 'three'
Out[436]: [150, 90]list4 = ['one','two' , "three"]   # List of strings
list5 = ['Asif', 25 ,[50, 100],[150, 90]]    # Nested Lists
list6 = [100, 'Asif', 17.765]   # List of mixed data types
list7 = ['Asif', 25 ,[50, 100],[150, 90] , {'John' , 'David'}]
len(list6) #Length of list
list2[0] # Retreive first element of the list
list4[0] # Retreive first element of the list
list4[0][0] # Nested indexing - Access the first character of the first list elem
list4[-1] # Last item of the list
list5[-1]  # Last item of the list
3/25/2021 Python - Jupyter Notebook
localhost:8889/notebooks/Documents/GitHub/Public/Python/Python.ipynb 21/118

437]:

438]:

439]:

440]:

441]:

442]:

443]:

444]:

445]:
Add , Remove & Change Items

446]:

447]:

In [ ]:
448]:Out[438]: ['one', 'two', 'three']
Out[439]: ['three', 'four', 'five']
Out[440]: ['one', 'two', 'three']
Out[441]: ['one', 'two']
Out[442]: ['six', 'seven', 'eight']
Out[443]: ['seven', 'eight']
Out[444]: 'eight'
Out[445]: ['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']
Out[446]: ['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']
Out[447]: ['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']
Out[448]: ['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']mylist = ['one' , 'two' , 'three' , 'four' , 'five' , 'six' , 'seven' , 'eight']
mylist[0:3] # Return all items from 0th to 3rd index location excluding the item 
mylist[2:5] # List all items from 2nd to 5th index location excluding the item at
mylist[:3] # Return first three items
mylist[:2]  # Return first two items
mylist[-3:] # Return last three items
mylist[-2:] # Return last two items
mylist[-1] # Return last item of the list
mylist[:] # Return whole list
mylist
mylist.append('nine') # Add an item to the end of the list  
mylist
mylist.insert(9,'ten') # Add item at index location 9
mylist
3/25/2021 Python - Jupyter Notebook
localhost:8889/notebooks/Documents/GitHub/Public/Python/Python.ipynb 22/118

449]:

450]:

451]:

452]:

453]:

454]:

In [ ]:
455]:Out[449]: ['one', 
 'ONE', 
 'two', 
 'three',  
 'four',  
 'five',  
 'six', 
 'seven',  
 'eight',  
 'nine',  
 'ten']
Out[450]: ['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']
Out[451]: ['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']
Out[452]: ['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']
Out[453]: ['one', 'two', 'three', 'four', 'five', 'six', 'seven']
Out[454]: [1, 2, 3, 'four', 'five', 'six', 'seven']
Out[455]: []mylist.insert(1,'ONE') # Add item at index location 1
mylist
mylist.remove('ONE') # Remove item "ONE"
mylist
mylist.pop() # Remove last item of the list
mylist
mylist.pop(8) # Remove item at index location 8
mylist
del mylist[7] # Remove item at index location 7
mylist
# Change value of the string
mylist[0] = 1
mylist[1] = 2
mylist[2] = 3
mylist
mylist.clear()  # Empty List / Delete all items in the list
mylist
3/25/2021 Python - Jupyter Notebook
localhost:8889/notebooks/Documents/GitHub/Public/Python/Python.ipynb 23/118

456]:
Copy List

457]:

458]:

459]:

460]:

461]:

462]:

463]:

464]:

465]:
Join Lists

466]:

In [ ]:
467]:---------------------------------------------------------------------------  
NameError                                  Traceback (most recent call last)  
<ipython-input-456-50c7849aa2cb>  in <module>  
      1 del mylist # Delete the whole list  
----> 2 mylist 
 
NameError : name 'mylist' is not defined  
 
Out[459]: (1537348392776, 1537348392776)
Out[461]: 1537345955016
Out[463]: [1, 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']
Out[464]: [1, 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']
Out[465]: ['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']
Out[467]: ['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']del mylist # Delete the whole list
mylist
mylist = ['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine',
mylist1 = mylist # Create a new reference "mylist1" 
id(mylist) , id(mylist1) # The address of both mylist & mylist1 will be the same 
mylist2 = mylist.copy() # Create a copy of the list
id(mylist2) # The address of mylist2 will be different from mylist because mylist
mylist[0] = 1
mylist
mylist1 # mylist1 will be also impacted as it is pointing to the same list
mylist2 # Copy of list won't be impacted due to changes made on the original list
list1 = ['one', 'two', 'three', 'four']
list2 = ['five', 'six', 'seven', 'eight']
list3 = list1 + list2 # Join two lists by '+' operator
list3
3/25/2021 Python - Jupyter Notebook
localhost:8889/notebooks/Documents/GitHub/Public/Python/Python.ipynb 24/118

468]:
List Membership

469]:

470]:

471]:

472]:

473]:
Reverse & Sort List

474]:

475]:

In [ ]:
476]:Out[468]: ['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']
Out[469]: ['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']
Out[470]: True
Out[471]: False
Three is present in the list  
eleven is not present in the list  
Out[474]: ['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']
Out[475]: ['eight', 'seven', 'six', 'five', 'four', 'three', 'two', 'one']
Out[476]: ['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']list1.extend(list2) #Append list2 with list1
list1
list1
'one' in list1 # Check if 'one' exist in the list
'ten' in list1 # Check if 'ten' exist in the list
if 'three' in list1: # Check if 'three' exist in the list
    print('Three is present in the list' )
else:
    print('Three is not present in the list' )
if 'eleven'  in list1:  # Check if 'eleven' exist in the list
    print('eleven is present in the list' )
else:
    print('eleven is not present in the list' )
list1
list1.reverse() # Reverse the list
list1
list1 = list1[::-1] # Reverse the list
list1
3/25/2021 Python - Jupyter Notebook
localhost:8889/notebooks/Documents/GitHub/Public/Python/Python.ipynb 25/118

477]:

478]:

584]:

585]:
Loop through a list

481]:

482]:

In [ ]:
483]:
CountOut[477]: [2, 5, 9, 12, 34, 88, 99]
Out[478]: [99, 88, 34, 12, 9, 5, 2]
Out[584]: [11, 21, 33, 65, 88, 98]
Out[585]: [88, 65, 33, 21, 11, 98]
Out[481]: ['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']
one 
two 
three 
four 
five 
six 
seven 
eight 
(0, 'one')  
(1, 'two')  
(2, 'three')  
(3, 'four')  
(4, 'five')  
(5, 'six')  
(6, 'seven')  
(7, 'eight')  mylist3 = [9,5,2,99,12,88,34]
mylist3.sort()   # Sort list in ascending order
mylist3
mylist3 = [9,5,2,99,12,88,34]
mylist3.sort(reverse=True)  # Sort list in descending order
mylist3
mylist4 = [88,65,33,21,11,98]
sorted(mylist4)        # Returns a new sorted list and doesn't change original li
mylist4
list1
for i in list1:
    print(i)
for i in enumerate (list1):
    print(i)
3/25/2021 Python - Jupyter Notebook
localhost:8889/notebooks/Documents/GitHub/Public/Python/Python.ipynb 26/118

485]:

486]:

487]:

In [ ]:
489]:
All / Any
The all() method returns:
True - If all elements in a list are true
False  - If any element in a list is false
The any()  function returns T rue if any element in the list is T rue. If not, any() returns False.

816]:

817]:

818]:

819]:

820]:

821]:

822]:

In [ ]:
823]:Out[486]: 3
Out[487]: 2
Out[489]: 1
Out[817]: False
Out[818]: True
Out[820]: False
Out[821]: True
Out[823]: Truelist10 =['one', 'two', 'three', 'four', 'one', 'one', 'two', 'three']
list10.count('one') # Number of times item "one" occurred in the list.
list10.count('two') # Occurence of item 'two' in the list
list10.count('four') #Occurence of item 'four' in the list
L1 = [1,2,3,4,0]
all(L1) # Will Return false as one value is false (Value 0)
any(L1)  # Will Return True as we have items in the list with True value
L2 = [1,2,3,4,True,False]
all(L2) # Returns false as one value is false
any(L2)  # Will Return True as we have items in the list with True value
L3 = [1,2,3,True]
all(L3) # Will return True as all items in the list are True
3/25/2021 Python - Jupyter Notebook
localhost:8889/notebooks/Documents/GitHub/Public/Python/Python.ipynb 27/118

In [ ]:
824]:
List Comprehensions
List Comprehensions provide an elegant way to create new lists.
It consists of brackets containing an expression followed by a for clause, then zero or more for
or if clauses.

287]:

289]:

290]:

325]:

In [ ]:
317]:Out[824]: True
Out[287]: ['W', 'E', 'L', 'C', 'O', 'M', 'E']
Out[289]: [0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38]
Out[290]: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39]
Out[325]: [0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
Out[317]: [20, 30, 40, 50, 60, 70, 80]any(L3) # Will Return True as we have items in the list with True value
mystring  = "WELCOME"
mylist = [ i for i in mystring  ] # Iterating through a string Using List Comprehe
mylist
mylist1 = [ i for i in range(40) if i % 2 == 0] # Display all even numbers betwee
mylist1
mylist2 = [ i for i in range(40) if i % 2 == 1] # Display all odd numbers between
mylist2
mylist3 = [num**2 for num in range(10)] # calculate square of all numbers between
mylist3
# Multiple whole list by 10
list1 = [2,3,4,5,6,7,8]
list1 = [i*10 for i in list1]
list1
3/25/2021 Python - Jupyter Notebook
localhost:8889/notebooks/Documents/GitHub/Public/Python/Python.ipynb 28/118

299]:

309]:

315]:

In [ ]:
316]:Out[299]: [0, 36, 72, 108, 144, 180]
0 is Even Number  
1 is odd number  
2 is Even Number  
3 is odd number  
4 is Even Number  
5 is odd number  
6 is Even Number  
7 is odd number  
8 is Even Number  
9 is odd number  
Out[315]: ['1', '2', '3', '4', '5', '6', '7', '8', '9']
Out[316]: ['O', 
 'n', 
 'e', 
 't', 
 'w', 
 'o', 
 't', 
 'h', 
 'r', 
 'e', 
 'e', 
 'f', 
 'o', 
 'u', 
 'r', 
 'f', 
 'i', 
 'v', 
 'e', 
 's', 
 'i', 
 'x']#List all numbers divisible by 3 , 9 & 12 using nested "if" with List Comprehensi
mylist4 = [i for i in range(200) if i % 3 == 0 if i % 9 == 0 if i % 12 == 0]
mylist4
# Odd even test
l1 = [print("{} is Even Number" .format(i)) if i%2==0 else print("{} is odd number
# Extract numbers from a string
mystr = "One 1 two 2 three 3 four 4 five 5 six 6789"
numbers = [i for i in mystr if i.isdigit()]
numbers
# Extract letters from a string
 
mystr = "One 1 two 2 three 3 four 4 five 5 six 6789"
numbers = [i for i in mystr if i.isalpha()]
numbers
3/25/2021 Python - Jupyter Notebook
localhost:8889/notebooks/Documents/GitHub/Public/Python/Python.ipynb 29/118Tuples
1. Tuple is similar to List except that the objects in tuple are immutable which means we cannot
change the elements of a tuple once assigned.
2. When we do not want to change the data over time, tuple is a preferred data type.
3. Iterating over the elements of a tuple is faster compared to iterating over a list.
Tuple Creation

533]:

534]:

535]:

536]:

537]:

538]:

539]:

540]:
Tuple Indexing

541]:

542]:

543]:

In [ ]:
544]:Out[540]: 6
Out[541]: 10
Out[542]: 'one'
Out[543]: 'o'
Out[544]: 'three'tup1 = ()      # Empty tuple
tup2 = (10,30,60)      # tuple of integers numbers
tup3 = (10.77,30.66,60.89)       # tuple of float numbers
tup4 = ('one','two' , "three")   # tuple of strings
tup5 = ('Asif', 25 ,(50, 100),(150, 90))   # Nested tuples
tup6 = (100, 'Asif', 17.765)   # Tuple of mixed data types
tup7 = ('Asif', 25 ,[50, 100],[150, 90] , {'John' , 'David'} , (99,22,33))
len(tup7) #Length of list
tup2[0] # Retreive first element of the tuple
tup4[0] # Retreive first element of the tuple
tup4[0][0] # Nested indexing - Access the first character of the first tuple elem
tup4[-1] # Last item of the tuple
3/25/2021 Python - Jupyter Notebook
localhost:8889/notebooks/Documents/GitHub/Public/Python/Python.ipynb 30/118

545]:
Tuple Slicing

560]:

547]:

548]:

549]:

550]:

551]:

552]:

553]:

554]:
Remove & Change Items

In [ ]:
555]:Out[545]: (150, 90)
Out[547]: ('one', 'two', 'three')
Out[548]: ('three', 'four', 'five')
Out[549]: ('one', 'two', 'three')
Out[550]: ('one', 'two')
Out[551]: ('six', 'seven', 'eight')
Out[552]: ('seven', 'eight')
Out[553]: 'eight'
Out[554]: ('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')
Out[555]: ('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')tup5[-1]  # Last item of the tuple
mytuple = ('one' , 'two' , 'three' , 'four' , 'five' , 'six' , 'seven' , 'eight')
mytuple[0:3] # Return all items from 0th to 3rd index location excluding the item
mytuple[2:5] # List all items from 2nd to 5th index location excluding the item a
mytuple[:3] # Return first three items
mytuple[:2]  # Return first two items
mytuple[-3:] # Return last three items
mytuple[-2:] # Return last two items
mytuple[-1] # Return last item of the tuple
mytuple[:] # Return whole tuple
mytuple
3/25/2021 Python - Jupyter Notebook
localhost:8889/notebooks/Documents/GitHub/Public/Python/Python.ipynb 31/118

556]:

557]:

561]:
Loop through a tuple

570]:

571]:

In [ ]:
572]:---------------------------------------------------------------------------  
TypeError                                  Traceback (most recent call last)  
<ipython-input-556-667a276aa503>  in <module>  
----> 1 del mytuple [0] 
 
TypeError : 'tuple' object doesn't support item deletion  
 
---------------------------------------------------------------------------  
TypeError                                  Traceback (most recent call last)  
<ipython-input-557-4cf492702bfd>  in <module>  
----> 1 mytuple[0] = 1 
 
TypeError : 'tuple' object does not support item assignment  
 
Out[570]: ('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')
one 
two 
three 
four 
five 
six 
seven 
eight 
(0, 'one')  
(1, 'two')  
(2, 'three')  
(3, 'four')  
(4, 'five')  
(5, 'six')  
(6, 'seven')  
(7, 'eight')  del mytuple[0] # Tuples are immutable which means we can't DELETE tuple items
mytuple[0] = 1 # Tuples are immutable which means we can't CHANGE tuple items
del mytuple # Deleting entire tuple object is possible
mytuple
for i in mytuple:
    print(i)
for i in enumerate (mytuple):
    print(i)
3/25/2021 Python - Jupyter Notebook
localhost:8889/notebooks/Documents/GitHub/Public/Python/Python.ipynb 32/118Count

573]:

574]:

575]:

576]:
Tuple Membership

577]:

578]:

579]:

581]:

583]:
Index Position

In [ ]:
586]:Out[574]: 3
Out[575]: 2
Out[576]: 1
Out[577]: ('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')
Out[578]: True
Out[579]: False
Three is present in the tuple  
eleven is not present in the tuple  
Out[586]: ('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')mytuple1  =('one', 'two', 'three', 'four', 'one', 'one', 'two', 'three')
mytuple1 .count('one') # Number of times item "one" occurred in the tuple.
mytuple1 .count('two') # Occurence of item 'two' in the tuple
mytuple1 .count('four') #Occurence of item 'four' in the tuple
mytuple
'one' in mytuple # Check if 'one' exist in the list
'ten' in mytuple # Check if 'ten' exist in the list
if 'three' in mytuple: # Check if 'three' exist in the list
    print('Three is present in the tuple' )
else:
    print('Three is not present in the tuple' )
if 'eleven'  in mytuple:  # Check if 'eleven' exist in the list
    print('eleven is present in the tuple' )
else:
    print('eleven is not present in the tuple' )
mytuple
3/25/2021 Python - Jupyter Notebook
localhost:8889/notebooks/Documents/GitHub/Public/Python/Python.ipynb 33/118

587]:

590]:

591]:

593]:
Sorting

594]:

595]:

596]:
Sets
1) Unordered & Unindexed collection of items.
2) Set elements are unique. Duplicate elements are not allowed.
3) Set elements are immutable (cannot be changed).
4) Set itself is mutable. W e can add or remove items from it.
Set Creation

634]:

In [ ]:
635]:Out[587]: 0
Out[590]: 4
Out[591]: ('one', 'two', 'three', 'four', 'one', 'one', 'two', 'three')
Out[593]: 0
Out[595]: [6, 12, 43, 67, 67, 90, 99]
Out[596]: [99, 90, 67, 67, 43, 12, 6]
Out[634]: {1, 2, 3, 4, 5}
Out[635]: 5mytuple.index('one') # Index of first element equal to 'one'
mytuple.index('five') # Index of first element equal to 'five'
mytuple1
mytuple1 .index('one') # Index of first element equal to 'one'
mytuple2  = (43,67,99,12,6,90,67)
sorted(mytuple2 )  # Returns a new sorted list and doesn't change original tuple
sorted(mytuple2 , reverse=True) # Sort in descending order
myset = {1,2,3,4,5} # Set of numbers
myset
len(myset) #Length of the set
3/25/2021 Python - Jupyter Notebook
localhost:8889/notebooks/Documents/GitHub/Public/Python/Python.ipynb 34/118

636]:

637]:

638]:

639]:

640]:

641]:

In [ ]:
673]:
Loop through a SetOut[636]: {1, 2, 3, 4, 5}
Out[637]: {1.79, 2.08, 3.99, 4.56, 5.45}
Out[638]: {'Asif', 'John', 'Tyrion'}
Out[639]: {(11, 22, 32), 10, 20, 'Hola'}
---------------------------------------------------------------------------  
TypeError                                  Traceback (most recent call last)  
<ipython-input-640-d23fdc3a319e>  in <module>  
----> 1 myset3 = {10,20, "Hola", [11, 22, 32]} # set doesn't allow mutable item
s like lists  
     2 myset3 
TypeError : unhashable type: 'list'  
<class 'set'>  
Out[673]: {'four', 'one', 'three', 'two'}my_set = {1,1,2,2,3,4,5,5}
my_set                    # Duplicate elements are not allowed.
myset1 = {1.79,2.08,3.99,4.56,5.45} # Set of float numbers
myset1
myset2 = {'Asif' , 'John' , 'Tyrion' } # Set of Strings
myset2
myset3 = {10,20, "Hola", (11, 22, 32)} # Mixed datatypes
myset3
myset3 = {10,20, "Hola", [11, 22, 32]} # set doesn't allow mutable items like lis
myset3
myset4 = set() # Create an empty set
print(type(myset4))
my_set1 = set(('one' , 'two' , 'three' , 'four'))
my_set1
3/25/2021 Python - Jupyter Notebook
localhost:8889/notebooks/Documents/GitHub/Public/Python/Python.ipynb 35/118

776]:

777]:
Set Membership

675]:

676]:

677]:

678]:

In [ ]:
679]:eight 
one 
seven 
three 
five 
two 
six 
four 
(0, 'eight')  
(1, 'one')  
(2, 'seven')  
(3, 'three')  
(4, 'five')  
(5, 'two')  
(6, 'six')  
(7, 'four')  
Out[675]: {'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}
Out[676]: True
Out[677]: False
Three is present in the set  
eleven is not present in the set  myset = {'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight'}
 
for i in myset:
    print(i)
for i in enumerate (myset):
    print(i)
myset
'one' in myset # Check if 'one' exist in the set
'ten' in myset # Check if 'ten' exist in the set
if 'three' in myset: # Check if 'three' exist in the set
    print('Three is present in the set' )
else:
    print('Three is not present in the set' )
if 'eleven'  in myset:  # Check if 'eleven' exist in the list
    print('eleven is present in the set' )
else:
    print('eleven is not present in the set' )
3/25/2021 Python - Jupyter Notebook
localhost:8889/notebooks/Documents/GitHub/Public/Python/Python.ipynb 36/118Add & Remove Items

680]:

681]:

683]:

684]:

In [ ]:
685]:Out[680]: {'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}
Out[681]: {'NINE', 'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}
Out[683]: {'ELEVEN',  
 'NINE',  
 'TEN', 
 'TWELVE',  
 'eight',  
 'five',  
 'four',  
 'one', 
 'seven',  
 'six', 
 'three',  
 'two'}
Out[684]: {'ELEVEN',  
 'TEN', 
 'TWELVE',  
 'eight',  
 'five',  
 'four',  
 'one', 
 'seven',  
 'six', 
 'three',  
 'two'}
Out[685]: {'ELEVEN',  
 'TWELVE',  
 'eight',  
 'five',  
 'four',  
 'one', 
 'seven',  
 'six', 
 'three',  
 'two'}myset
myset.add('NINE') # Add item to a set using add() method
myset
myset.update(['TEN' , 'ELEVEN'  , 'TWELVE' ])  # Add multiple item to a set using u
myset
myset.remove('NINE') # remove item in a set using remove() method
myset
myset.discard('TEN') # remove item from a set using discard() method
myset
3/25/2021 Python - Jupyter Notebook
localhost:8889/notebooks/Documents/GitHub/Public/Python/Python.ipynb 37/118

688]:

689]:
Copy Set

705]:

706]:

707]:

708]:

710]:

711]:

712]:

In [ ]:
713]:Out[688]: set()
---------------------------------------------------------------------------  
NameError                                  Traceback (most recent call last)  
<ipython-input-689-0912ea1b8932>  in <module>  
      1 del myset 
----> 2 myset 
 
NameError : name 'myset' is not defined  
 
Out[705]: {'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}
Out[706]: {'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}
Out[707]: (1537349033320, 1537349033320)
Out[708]: {'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}
Out[710]: 1537352902024
Out[711]: {'eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'three', 'two'}
Out[712]: {'eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'three', 'two'}
Out[713]: {'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}myset.clear() # Delete all items in a set
myset
del myset # Delete the set object
myset
myset = {'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight'}
myset
myset1 = myset  # Create a new reference "myset1" 
myset1
id(myset) , id(myset1)  # The address of both myset & myset1 will be the same as 
my_set = myset.copy() # Create a copy of the list
my_set
id(my_set) # The address of my_set will be different from myset because my_set is
myset.add('nine')
myset
myset1 # myset1 will be also impacted as it is pointing to the same Set
my_set # Copy of the set won't be impacted due to changes made on the original Se
3/25/2021 Python - Jupyter Notebook
localhost:8889/notebooks/Documents/GitHub/Public/Python/Python.ipynb 38/118Set Operation
Union

757]:

758]:

759]:

760]:

761]:
Intersection

In [ ]:
762]:Out[758]: {1, 2, 3, 4, 5, 6, 7, 8}
Out[759]: {1, 2, 3, 4, 5, 6, 7, 8}
Out[760]: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
Out[761]: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}A = {1,2,3,4,5}
B = {4,5,6,7,8}
C = {8,9,10}
A | B  # Union of A and B (All elements from both sets. NO DUPLICATES)
A.union(B) # Union of A and B
A.union(B, C)  # Union of A, B and C.
"""
Updates the set calling the update() method with union of A , B & C. 
 
For below example Set A will be updated with union of A,B & C.
"""
A.update(B,C)
A
A = {1,2,3,4,5}
B = {4,5,6,7,8}
3/25/2021 Python - Jupyter Notebook
localhost:8889/notebooks/Documents/GitHub/Public/Python/Python.ipynb 39/118

763]:

764]:

765]:
Difference

766]:

767]:

In [ ]:
768]:Out[763]: {4, 5}
  File "<ipython-input-764-f01b60f4d31d>" , line 1 
    A.intersection(B)  Intersection of A and B  
                                  ^  
SyntaxError : invalid syntax  
 
 
Out[765]: {4, 5}
Out[767]: {1, 2, 3}
Out[768]: {1, 2, 3}A & B  # Intersection of A and B (Common items in both sets)
A.intersection (B)  Intersection  of A and B
"""
Updates the set calling the intersection_update() method with the intersection of
 
For below example Set A will be updated  with the intersection of A & B.
"""
A.intersection_update (B)
A
A = {1,2,3,4,5}
B = {4,5,6,7,8}
A - B  # set of elements that are only in A but not in B
A.difference (B) # Difference of sets
3/25/2021 Python - Jupyter Notebook
localhost:8889/notebooks/Documents/GitHub/Public/Python/Python.ipynb 40/118

769]:

770]:

771]:
Symmetric Difference

772]:

773]:

In [ ]:
774]:Out[769]: {6, 7, 8}
Out[770]: {6, 7, 8}
Out[771]: {6, 7, 8}
Out[773]: {1, 2, 3, 6, 7, 8}
Out[774]: {1, 2, 3, 6, 7, 8}B- A  # set of elements that are only in B but not in A
B.difference (A)
"""
Updates the set calling the difference_update() method with the difference of set
 
For below example Set B will be updated  with the difference of B & A.
"""
B.difference_update (A)
B
A = {1,2,3,4,5}
B = {4,5,6,7,8}
A ^ B # Symmetric difference (Set of elements in A and B but not in both. "EXCLUD
A.symmetric_difference (B)  # Symmetric difference of sets
3/25/2021 Python - Jupyter Notebook
localhost:8889/notebooks/Documents/GitHub/Public/Python/Python.ipynb 41/118

775]:
Subset , Superset & Disjoint

784]:

785]:

786]:

787]:

In [ ]:
788]:
Other Builtin functionsOut[775]: {1, 2, 3, 6, 7, 8}
Out[785]: True
Out[786]: True
Out[787]: True
Out[788]: False"""
Updates the set calling the symmetric_difference_update() method with the symmetr
 
For below example Set A will be updated  with the symmetric difference of A & B.
"""
 
A.symmetric_difference_update (B)
A
A = {1,2,3,4,5,6,7,8,9}
B = {3,4,5,6,7,8}
C = {10,20,30,40}
B.issubset (A) # Set B is said to be the subset of set A if all elements of B are 
A.issuperset (B) # Set A is said to be the superset of set B if all elements of B 
C.isdisjoint (A) # Two sets are said to be disjoint sets if they have no common el
B.isdisjoint (A) # Two sets are said to be disjoint sets if they have no common el
3/25/2021 Python - Jupyter Notebook
localhost:8889/notebooks/Documents/GitHub/Public/Python/Python.ipynb 42/118

789]:

790]:

791]:

792]:

793]:

795]:

798]:

In [ ]:
799]:
Dictionary
Dictionary is a mutable data type in Python.
A python dictionary is a collection of key and value pairs separated by a colon (:) & enclosed
in curly braces {}.
Keys must be unique in a dictionary , duplicate values are allowed.Out[789]: {1, 2, 3, 4, 5, 6, 7, 8, 9}
Out[790]: 45
Out[791]: 9
Out[792]: 1
Out[793]: 9
Out[795]: [(0, 1), (1, 2), (2, 3), (3, 4), (4, 5), (5, 6), (6, 7), (7, 8), (8, 9)]
Out[798]: [9, 8, 7, 6, 5, 4, 3, 2, 1]
Out[799]: [1, 2, 3, 4, 5, 6, 7, 8, 9]A
sum(A)
max(A)
min(A)
len(A)
list(enumerate (A))
D= sorted(A,reverse=True)
D
sorted(D)
3/25/2021 Python - Jupyter Notebook
localhost:8889/notebooks/Documents/GitHub/Public/Python/Python.ipynb 43/118
Create Dictionary

947]:

948]:

949]:

In [ ]:
950]:Out[947]: {}
Out[948]: {}
Out[949]: {1: 'one', 2: 'two', 3: 'three'}
Out[950]: {1: 'one', 2: 'two', 3: 'three'}mydict = dict() # empty dictionary
mydict
mydict = {}   # empty dictionary
mydict
mydict = {1:'one' , 2:'two' , 3:'three'} # dictionary with integer keys
mydict
mydict = dict({1:'one' , 2:'two' , 3:'three'}) # Create dictionary using dict()
mydict
3/25/2021 Python - Jupyter Notebook
localhost:8889/notebooks/Documents/GitHub/Public/Python/Python.ipynb 44/118

951]:

318]:

319]:

320]:

321]:

955]:

956]:

1]:

957]:

In [ ]:
958]:Out[951]: {'A': 'one', 'B': 'two', 'C': 'three'}
Out[318]: {1: 'one', 'A': 'two', 3: 'three'}
Out[319]: dict_keys([1, 'A', 3])
Out[320]: dict_values(['one', 'two', 'three'])
Out[321]: dict_items([(1, 'one'), ('A', 'two'), (3, 'three')])
Out[955]: {1: 'one', 2: 'two', 'A': ['asif', 'john', 'Maria']}
Out[956]: {1: 'one',  
 2: 'two',  
 'A': ['asif', 'john', 'Maria'],  
 'B': ('Bat', 'cat', 'hat')}
Out[1]: {1: 'one',  
 2: 'two',  
 'A': {'Name': 'asif', 'Age': 20},  
 'B': ('Bat', 'cat', 'hat')}
Out[957]: {'c': None, 'd': None, 'a': None, 'b': None}
Out[958]: {'c': 10, 'd': 10, 'a': 10, 'b': 10}mydict = {'A':'one' , 'B':'two' , 'C':'three'} # dictionary with character keys
mydict
mydict = {1:'one' , 'A':'two' , 3:'three'} # dictionary with mixed keys
mydict
mydict.keys() # Return Dictionary Keys using keys() method
mydict.values() # Return Dictionary Values using values() method
mydict.items() # Access each key-value pair within a dictionary 
mydict = {1:'one' , 2:'two' , 'A':['asif' , 'john' , 'Maria']} # dictionary with 
mydict
mydict = {1:'one' , 2:'two' , 'A':['asif' , 'john' , 'Maria'],  'B':('Bat' , 'cat
mydict
mydict = {1:'one' , 2:'two' , 'A':{'Name':'asif' , 'Age' :20},  'B':('Bat' , 'cat
mydict
keys = {'a' , 'b' , 'c' , 'd'}
mydict3 = dict.fromkeys (keys)   # Create a dictionary from a sequence of keys
mydict3
keys = {'a' , 'b' , 'c' , 'd'}
value = 10
mydict3 = dict.fromkeys (keys , value)  # Create a dictionary from a sequence of k
mydict3
3/25/2021 Python - Jupyter Notebook
localhost:8889/notebooks/Documents/GitHub/Public/Python/Python.ipynb 45/118

959]:

960]:
Accessing Items

961]:

962]:

963]:

964]:

965]:

966]:
Add, Remove & Change Items

In [ ]:
967]:Out[959]: {'c': [10, 20, 30], 'd': [10, 20, 30], 'a': [10, 20, 30], 'b': [10, 20, 30]}
Out[960]: {'c': [10, 20, 30, 40],  
 'd': [10, 20, 30, 40],  
 'a': [10, 20, 30, 40],  
 'b': [10, 20, 30, 40]}
Out[961]: {1: 'one', 2: 'two', 3: 'three', 4: 'four'}
Out[962]: 'one'
Out[963]: 'one'
Out[964]: {'Name': 'Asif', 'ID': 74123, 'DOB': 1991, 'job': 'Analyst'}
Out[965]: 'Asif'
Out[966]: 'Analyst'
Out[967]: {'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}keys = {'a' , 'b' , 'c' , 'd'}
value = [10,20,30]
mydict3 = dict.fromkeys (keys , value)  # Create a dictionary from a sequence of k
mydict3
value.append(40)
mydict3
mydict = {1:'one' , 2:'two' , 3:'three' , 4:'four'}
mydict
mydict[1] # Access item using key
mydict.get(1) # Access item using get() method
mydict1 = {'Name':'Asif' , 'ID': 74123 , 'DOB': 1991 , 'job' :'Analyst' }
mydict1
mydict1['Name']  # Access item using key
mydict1.get('job')  # Access item using get() method
mydict1 = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Address'  : 'Hilsinki' }
mydict1
3/25/2021 Python - Jupyter Notebook
localhost:8889/notebooks/Documents/GitHub/Public/Python/Python.ipynb 46/118

968]:

969]:

970]:

971]:

972]:

973]:

974]:

975]:

In [ ]:
976]:Out[968]: {'Name': 'Asif', 'ID': 12345, 'DOB': 1992, 'Address': 'Delhi'}
Out[969]: {'Name': 'Asif', 'ID': 12345, 'DOB': 1995, 'Address': 'Delhi'}
Out[970]: {'Name': 'Asif',  
 'ID': 12345,  
 'DOB': 1995,  
 'Address': 'Delhi',  
 'Job': 'Analyst'}
Out[971]: {'Name': 'Asif', 'ID': 12345, 'DOB': 1995, 'Address': 'Delhi'}
Out[972]: ('Address', 'Delhi')
Out[973]: {'Name': 'Asif', 'ID': 12345, 'DOB': 1995}
Out[974]: {'Name': 'Asif', 'DOB': 1995}
Out[975]: {}
---------------------------------------------------------------------------  
NameError                                  Traceback (most recent call last)  
<ipython-input-976-da2fba4eca0f>  in <module>  
      1 del mydict1 # Delete the dictionary object  
----> 2 mydict1 
 
NameError : name 'mydict1' is not defined  
 mydict1['DOB'] = 1992  # Changing Dictionary Items
mydict1['Address' ] = 'Delhi'
mydict1
dict1 = {'DOB':1995}
mydict1.update(dict1)
mydict1
mydict1['Job'] = 'Analyst'  # Adding items in the dictionary
mydict1
mydict1.pop('Job') # Removing items in the dictionary using Pop method
mydict1
mydict1.popitem() # A random item is removed
mydict1
del[mydict1['ID']] # Removing item using del method
mydict1
mydict1.clear() # Delete all items of the dictionary using clear method
mydict1
del mydict1 # Delete the dictionary object
mydict1
3/25/2021 Python - Jupyter Notebook
localhost:8889/notebooks/Documents/GitHub/Public/Python/Python.ipynb 47/118Copy Dictionary

977]:

978]:

979]:

980]:

981]:

982]:

983]:

984]:

985]:
Loop through a Dictionary

986]:

In [ ]:
987]:Out[977]: {'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}
Out[979]: (1537346312776, 1537346312776)
Out[981]: 1537345875784
Out[983]: {'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Mumbai'}
Out[984]: {'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Mumbai'}
Out[985]: {'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}
Out[986]: {'Name': 'Asif',  
 'ID': 12345,  
 'DOB': 1991,  
 'Address': 'Hilsinki',  
 'Job': 'Analyst'}
Name : Asif  
ID : 12345  
DOB : 1991  
Address : Hilsinki  
Job : Analyst  mydict = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Address'  : 'Hilsinki' }
mydict
mydict1 = mydict # Create a new reference "mydict1" 
id(mydict) , id(mydict1) # The address of both mydict & mydict1 will be the same 
mydict2 = mydict.copy() # Create a copy of the dictionary
id(mydict2) # The address of mydict2 will be different from mydict because mydict
mydict['Address' ] = 'Mumbai'
mydict
mydict1 # mydict1 will be also impacted as it is pointing to the same dictionary
mydict2 # Copy of list won't be impacted due to the changes made in the original 
mydict1 = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Address'  : 'Hilsinki'  , '
mydict1
for i in mydict1:
    print(i , ':' , mydict1[i]) # Key & value pair
3/25/2021 Python - Jupyter Notebook
localhost:8889/notebooks/Documents/GitHub/Public/Python/Python.ipynb 48/118

988]:
Dictionary Membership

989]:

990]:

991]:

992]:

In [ ]:
993]:
All / Any
The all() method returns:
True - If all all keys of the dictionary are true
False  - If any key of the dictionary is false
The any()  function returns T rue if any key of the dictionary is T rue. If not, any() returns False.

995]:

In [ ]:
996]:Asif 
12345 
1991 
Hilsinki  
Analyst 
Out[989]: {'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Job': 'Analyst'}
Out[990]: True
Out[991]: False
Out[992]: True
Out[993]: False
Out[995]: {'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Job': 'Analyst'}
Out[996]: Truefor i in mydict1:
    print(mydict1[i]) # Dictionary items
mydict1 = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Job': 'Analyst' }
mydict1
'Name' in mydict1 # Test if a key is in a dictionary or not.
'Asif' in mydict1  # Membership test can be only done for keys.
'ID' in mydict1
'Address'  in mydict1
mydict1 = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Job': 'Analyst' }
mydict1
all(mydict1) # Will Return false as one value is false (Value 0)
3/25/2021 Python - Jupyter Notebook
localhost:8889/notebooks/Documents/GitHub/Public/Python/Python.ipynb 49/118

997]:

998]:

999]:

1000]:
Dictionary Comprehension

323]:

327]:

In [ ]:
329]:Out[997]: True
Out[998]: {'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Job': 'Analyst', 0: 'test1'}
Out[999]: False
Out[1000]: True
Out[323]: {0: 0, 1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18}
Out[327]: {0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}
Out[329]: {'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5}any(mydict1)  # Will Return True as we have items in the dictionary with True val
mydict1[0] = 'test1'
mydict1
all(mydict1) # Returns false as one value is false
any(mydict1)  # Will Return True as we have items in the dictionary with True val
double = {i:i*2 for i in range(10)} #double each value using dict comprehension
double
square = {i:i**2 for i in range(10)}
square
key = ['one' , 'two' , 'three' , 'four' , 'five']
value = [1,2,3,4,5]
 
mydict = {k:v for (k,v) in zip(key,value)} # using dict comprehension to create d
mydict
3/25/2021 Python - Jupyter Notebook
localhost:8889/notebooks/Documents/GitHub/Public/Python/Python.ipynb 50/118

332]:

In [ ]:
334]:Out[332]: {'a': 1.0, 'b': 2.0, 'c': 3.0, 'd': 4.0, 'e': 5.0}
Out[334]: {0: 'N',  
 1: 'a',  
 2: 't',  
 3: 'u',  
 4: 'r',  
 5: 'a',  
 6: 'l',  
 7: ' ',  
 8: 'L',  
 9: 'a',  
 10: 'n',  
 11: 'g',  
 12: 'u',  
 13: 'a',  
 14: 'g',  
 15: 'e',  
 16: ' ',  
 17: 'P',  
 18: 'r',  
 19: 'o',  
 20: 'c',  
 21: 'e',  
 22: 's',  
 23: 's',  
 24: 'i',  
 25: 'n',  
 26: 'g'}mydict1 = {'a':10 , 'b':20 , 'c':30 , 'd':40 , 'e':50}
mydict1 = {k:v/10 for (k,v) in mydict1.items()} # Divide all values in a dictiona
mydict1
str1 = "Natural Language Processing"
 
mydict2 = {k:v for (k,v) in enumerate (str1)} # Store enumerated values in a dicti
mydict2
3/25/2021 Python - Jupyter Notebook
localhost:8889/notebooks/Documents/GitHub/Public/Python/Python.ipynb 51/118

337]:
Word Frequency using dictionary

In [ ]:
61]:Out[337]: {'a': 'A',  
 'b': 'B',  
 'c': 'C',  
 'd': 'D',  
 'e': 'E',  
 'f': 'F',  
 'g': 'G',  
 'h': 'H',  
 'i': 'I',  
 'j': 'J',  
 'k': 'K',  
 'l': 'L',  
 'm': 'M',  
 'n': 'N',  
 'o': 'O',  
 'p': 'P',  
 'q': 'Q',  
 'r': 'R',  
 's': 'S',  
 't': 'T',  
 'u': 'U',  
 'v': 'V',  
 'w': 'W',  
 'x': 'X',  
 'y': 'Y',  
 'z': 'Z'}str1 = "abcdefghijklmnopqrstuvwxyz"
mydict3 = {i:i.upper() for i in str1} # Lower to Upper Case
mydict3
mystr4 = "one two three four one two two three five five six seven six seven one 
3/25/2021 Python - Jupyter Notebook
localhost:8889/notebooks/Documents/GitHub/Public/Python/Python.ipynb 52/118

64]:

In [ ]:
63]:Out[64]: ['one', 
 'two', 
 'three',  
 'four',  
 'one', 
 'two', 
 'two', 
 'three',  
 'five',  
 'five',  
 'six', 
 'seven',  
 'six', 
 'seven',  
 'one', 
 'one', 
 'one', 
 'ten', 
 'eight',  
 'ten', 
 'nine',  
 'eleven',  
 'ten', 
 'ten', 
 'nine']
Out[63]: ['nine',  
 'one', 
 'eight',  
 'two', 
 'seven',  
 'ten', 
 'four',  
 'five',  
 'three',  
 'eleven',  
 'six']mylist = mystr4.split() # Split String into substrings
mylist
mylist1 = set(mylist) # Unique values in a list
mylist1 = list (mylist1)
mylist1
3/25/2021 Python - Jupyter Notebook
localhost:8889/notebooks/Documents/GitHub/Public/Python/Python.ipynb 53/118

In [ ]:
60]:
Operators
Operators are special symbols in Python which are used to perform operations on
variables/values.
Arithmetic Operators{'nine': 2, 'one': 5, 'eight': 1, 'two': 3, 'seven': 2, 'ten': 4, 'four': 1, 'f
ive': 2, 'three': 2, 'eleven': 1, 'six': 2}  # Calculate frequenct of each word
count1 = [0] * len(mylist1)
mydict5 = dict()
for i in range(len(mylist1)):
    for j in range(len(mylist)):
        if mylist1[i] == mylist[j]:
            count1[i] += 1
    mydict5[mylist1[i]] = count1[i]
print(mydict5)
3/25/2021 Python - Jupyter Notebook
localhost:8889/notebooks/Documents/GitHub/Public/Python/Python.ipynb 54/118

In [ ]:
81]:
Addition of 5 and 2 will give :- 7  
Concatenate string 'x' and 'y' using '+' operaotr :- AsifBhat  
Subtracting 2 from 5 will give :- 3  
Multiplying 5 and 2 will give :- 10  
Dividing 5 by 2 will give :- 2.5  
Modulo of 5 , 2 will give :- 1  
5 raised to the power 2 will give :- 25  
Floor division of 5 by 2 will give :- 2  a = 5
b = 2
 
x = 'Asif'
y = 'Bhat'
 
# Addition
c = a + b
print('Addition of {} and {} will give :- {}\n' .format(a,b,c))
 
#Concatenate string using plus operator
z = x+y
print ('Concatenate string \'x\' and \'y\' using \'+\' operaotr :- {}\n' .format(z
  
# Subtraction
c = a - b
print('Subtracting {} from {} will give :- {}\n' .format(b,a,c))
  
# Multiplication
c = a * b  
print('Multiplying {} and {} will give :- {}\n' .format(a,b,c))
  
# Division
c = a / b
print('Dividing {} by {} will give :- {}\n' .format(a,b,c))
  
# Modulo of both number  
c = a % b
print('Modulo of {} , {} will give :- {}\n' .format(a,b,c))
  
# Power 
c = a ** b 
print('{} raised to the power {} will give :- {}\n' .format(a,b,c))
 
# Division(floor)
c = a // b
print('Floor division of {} by {} will give :- {}\n' .format(a,b,c))
3/25/2021 Python - Jupyter Notebook
localhost:8889/notebooks/Documents/GitHub/Public/Python/Python.ipynb 55/118Comparison Operators
Comparison operators are used to compare values.

84]:

87]:
Logical Operators

In [ ]:
92]:
Bitwise operatorsIs x greater than y :-  False  
 
Is x less than  y :-  True  
 
Is x equal to  y :-  False  
 
Is x not equal to y :-  True  
 
Is x greater than or equal to y :-  False  
 
Is x less than or equal to y :-  True  
Out[87]: (False, True, True)
Logical AND operation :-  False  
Logical OR operation :-  True  
NOT operation :-  False  x = 20
y = 30
 
print('Is x greater than y :- ' ,x>y)
 
print('\nIs x less than  y :- ' ,x<y)
 
print('\nIs x equal to  y :- ' ,x==y)
 
print('\nIs x not equal to y :- ' ,x!=y)
 
print('\nIs x greater than or equal to y :- ' ,x>=y)
 
print('\nIs x less than or equal to y :- ' ,x<=y)
a = 'Asif'
b = 'Bhat'
c = 'Asif'
 
a == b , a ==c , a != b # Comparison operators on string
x = True
y = False
 
print('Logical AND operation :- ' ,x and y) # True if both values are true
print('Logical OR operation :- ' ,x or y) # True if either of the values is true
print('NOT operation :- ' ,not x ) # True if operand is false
3/25/2021 Python - Jupyter Notebook
localhost:8889/notebooks/Documents/GitHub/Public/Python/Python.ipynb 56/118Bitwise operators act on bits and performs bit by bit operation.

In [ ]:
98]:
Assignment OperatorsBitwise AND operation - 2  
Bitwise OR operation - 22  
Bitwise XOR operation - 20  
Bitwise NOT operation - -19  
Bitwise right shift operation - 4  
Bitwise left shift operation - 72  x = 18  # binary form 10010
y = 6  # binary form 00110
 
print('Bitwise AND operation - {}' .format(x&y))
print('Bitwise OR operation - {}' .format(x|y))
print('Bitwise XOR operation - {}' .format(x^y))
print('Bitwise NOT operation - {}' .format(~x))
print('Bitwise right shift operation - {}' .format(x>>2))
print('Bitwise left shift operation - {}' .format(x<<2))
3/25/2021 Python - Jupyter Notebook
localhost:8889/notebooks/Documents/GitHub/Public/Python/Python.ipynb 57/118

In [ ]:
120]: x = 10
 
print('Initialize x with value 10 (x=10)) :- ' ,x)
 
 
x+=20 # x = x+20
print ('Add 20 to x :- ' ,x)
 
 
x-=20 # x = x-20
print ('subtract 20 from x :- ' ,x)
 
 
x/=10 # x = x/10
print ('Divide x by 10 :- ' ,x)
 
 
 
x*=10 # x = x/10
print ('Multiply x by 10 :- ' ,x)
 
x = int(x)
 
 
x**=2 # x = x/10
print ('x raised to the power 2 :- ' ,x)
 
 
 
x%=2
print ('Modulo Division :- ' ,x)
 
 
x = 20
 
 
x//=3
print ('Floor Division :- ' ,x)
 
 
x&=2
print('Bitwise AND :- ' ,x)
 
 
x|=2
print('Bitwise OR :- ' ,x)
 
 
x^=2
print('Bitwise XOR :- ' ,x)
 
 
x = 10
 
 
x<<=2
3/25/2021 Python - Jupyter Notebook
localhost:8889/notebooks/Documents/GitHub/Public/Python/Python.ipynb 58/118Membership Operators
Membership Operators are used to test whether a value / variable is present in a sequence.

122]:

In [ ]:
123]:
Functions
A function is a block of organized code written to carry out a specified task.
Functions help break our program into smaller and modular chunks for better readability .
Information can be passed into a function as arguments.
Parameters are specified after the function name inside the parentheses.
We can add as many parameters as we want. Parameters must be separated with a comma.
A function may or may not return data.
In Python a function is defined using the def keyword
Parameter VS Argument
A parameter is the variable listed inside the parentheses in the function definition.
An argument is the value that is sent to the function when it is called.
Three types offunctions inPython:-Initialize x with value 10 (x=10)) :-  10  
Add 20 to x :-  30  
subtract 20 from x :-  10  
Divide x by 10 :-  1.0  
Multiply x by 10 :-  10.0  
x raised to the power 2 :-  100  
Modulo Division :-  0  
Floor Division :-  6  
Bitwise AND :-  2  
Bitwise OR :-  2  
Bitwise XOR :-  0  
Bitwise left shift operation 40  
Bitwise right shift operation 10  
Out[122]: (True, False)
Out[123]: (False, True)print('Bitwise left shift operation' ,x)
 
 
x>>=2
print('Bitwise right shift operation' ,x)
mystr = 'Asif Ali Bhat'
 
'Asif' in mystr , 'John' in mystr
mystr = 'Asif Ali Bhat'
 
'Asif' not in mystr , 'John' not in mystr
3/25/2021 Python - Jupyter Notebook
localhost:8889/notebooks/Documents/GitHub/Public/Python/Python.ipynb 59/118Three types of functions in Python:
Built-in function :-  Python predefined functions that are readily available for use like min() ,
max() , sum() , print() etc.
User-Defined Functions:-  Function that we define ourselves to perform a specific task.
Anonymous functions :  Function that is defined without a name. Anonymous functions are
also called as lambda functions. They are not declared with the def keyword.
Syntax
Modularity
3/25/2021 Python - Jupyter Notebook
localhost:8889/notebooks/Documents/GitHub/Public/Python/Python.ipynb 60/118

3/25/2021 Python - Jupyter Notebook
localhost:8889/notebooks/Documents/GitHub/Public/Python/Python.ipynb 61/118

582]:

585]:

586]:

39]:

590]:

In [ ]:
591]:Hello Python Lovers  
Name :-  Asif  
User ID is :-  asif123  
Country :-  India  
Out[586]: 100
3  is odd number  
4  is even number  
 This function will check whether a number is even or odd  
Asif Ali Bhat  
Asif Ali Bhat  def myfunc():
  print("Hello Python Lovers" )
 
myfunc()
def details(name,userid,country): # Function to print User details
    print('Name :- ' , name)
    print('User ID is :- ' , userid)
    print('Country :- ' ,country)
    
details('Asif' , 'asif123'  , 'India')
def square (n): #function to find square of a number
    n= n*n
    return n
 
square (10)
def even_odd  (num): #Even odd test
    """ This function will check whether a number is even or odd"""
    if num % 2 ==0:
        print (num, ' is even number' )
    else:
        print (num, ' is odd number' )
 
even_odd (3)
even_odd (4)
print(even_odd .__doc__) # Print function documentation string
def fullname  (firstname  , middlename  ,lastname ): #Concatenate Strings
    fullname  = "{} {} {}" .format(firstname ,middlename ,lastname )
    print (fullname )
 
fullname ('Asif' , 'Ali' , 'Bhat')
def fullname  (firstname  , middlename  ,lastname ): #Concatenate Strings
    fullname  = "{} {} {}" .format(firstname ,middlename ,lastname )
    print (fullname )
 
fullname (lastname  = 'Bhat' , middlename ='Ali' , firstname ='Asif') # Keyword Argum
3/25/2021 Python - Jupyter Notebook
localhost:8889/notebooks/Documents/GitHub/Public/Python/Python.ipynb 62/118

592]:

596]:

In [ ]:
26]:---------------------------------------------------------------------------  
TypeError                                  Traceback (most recent call last)  
<ipython-input-592-d194f8b98253>  in <module>  
----> 1 fullname ('Asif') 
 
TypeError : fullname() missing 2 required positional arguments: 'middlename' and  
'lastname'  
 
Most Populous City :-  Mumbai  
100 
100 fullname  ('Asif') # This will throw error as function is expecting 3 arguments.
def myfunc(city = 'Mumbai' ):
    print('Most Populous City :- ' , city)
    
myfunc() # When a function is called without an argument it will use default valu
var1 = 100 # Variable with Global scope.
 
def myfunc():
    print(var1) # Value 100 will be displayed due to global scope of var1
 
    
myfunc()
print(var1)
3/25/2021 Python - Jupyter Notebook
localhost:8889/notebooks/Documents/GitHub/Public/Python/Python.ipynb 63/118

27]:

29]:

In [ ]:
33]:10 
---------------------------------------------------------------------------  
NameError                                  Traceback (most recent call last)  
<ipython-input-27-6a1c34e80ca2>  in <module>  
     8  
     9 myfunc1 () 
---> 10 myfunc2() 
<ipython-input-27-6a1c34e80ca2>  in myfunc2() 
     5  
     6 def myfunc2 (): 
----> 7     print(var2) # Value 100 will be displayed due to global scope of va
r1 
     8  
     9 myfunc1 () 
NameError : name 'var2' is not defined  
99 
100 
"List1" before calling the function:-  [11, 22, 33, 44, 55]  
"List1" after calling the function:-  [22, 33, 44, 55]  def myfunc1():
    var2 = 10  # Variable with Local scope
    print(var2)
 
 
def myfunc2():
    print(var2) # This will throw error because var2 has a local scope. Var2 is o
 
myfunc1()
myfunc2()
var1 = 100 # Variable with Global scope.
 
def myfunc():
    var1 = 99  # Local scope
    print(var1)
 
    
myfunc()  
print(var1) # The original value of var1 (100) will be retained due to global sco
list1 = [11,22,33,44,55]
 
def myfunc(list1):
    del list1[0]
 
print('"List1" before calling the function:- ' ,list1)
myfunc(list1)  # Pass by reference (Any change in the parameter within the functi
print('"List1" after calling the function:- ' ,list1)
3/25/2021 Python - Jupyter Notebook
localhost:8889/notebooks/Documents/GitHub/Public/Python/Python.ipynb 64/118

34]:

46]:

45]:

601]:

In [ ]:
618]:"List1" before calling the function:-  [11, 22, 33, 44, 55]  
"List1" after calling the function:-  [11, 22, 33, 44, 55, 100]  
"List1" before calling the function:-  [11, 22, 33, 44, 55]  
"List1" after calling the function:-  [11, 22, 33, 44, 55]  
Out[45]: (10, 20)
Out[601]: 24
Out[618]: 15list1 = [11,22,33,44,55]
 
def myfunc(list1):
    list1.append(100)
 
print('"List1" before calling the function:- ' ,list1)
myfunc(list1)  # Pass by reference (Any change in the parameter within the functi
print('"List1" after calling the function:- ' ,list1)
list1 = [11,22,33,44,55]
 
def myfunc(list1):
    list1 = [10,100,1000,10000] # link of 'list1' with previous object is broken 
 
print('"List1" before calling the function:- ' ,list1)
myfunc(list1)  # Pass by reference (Any change in the parameter within the functi
print('"List1" after calling the function:- ' ,list1)
def swap(a,b):
    temp = a
    a = b      # link of 'a' with previous object is broken now as new object is 
    b = temp   # link of 'b' with previous object is broken now as new object is 
 
a = 10
b = 20
swap(a,b)
a,b
def factorial (num):  # Calculate factorial of a number using recursive function c
    if num <=1 :
        return 1
    else:
        return num * factorial (num-1)
    
factorial (4)
def add(num):  # Sum of first n natural numbers
    if num == 0:
        return 0
    else:
        return num + add(num-1)
 
add(5) # Sum of first five natural numbers (1,2,3,4,5)
3/25/2021 Python - Jupyter Notebook
localhost:8889/notebooks/Documents/GitHub/Public/Python/Python.ipynb 65/118

In [ ]:
12]:
args & kwargs
*args
When we are not sure about the number of arguments being passed to a function then we can
use *args as function parameter .
*args allow us to pass the variable number of Non Keyword Arguments  to function.
We can simply use an asterisk * before the parameter name to pass variable length
arguments.
The arguments are always passed as a tuple.
We can rename it to anything as long as it is preceded by a single asterisk (*). It's best
practice to keep naming it args to make it immediately recognizable.
**kwargs
**kwargs allows us to pass the variable number of Keyword Arguments  to the function.
We can simply use an double asterisk ** before the parameter name to pass variable length
arguments.
The arguments are passed as a dictionary .
We can rename it to anything as long as it is preceded by a double asterisk (**). It's best
practice to keep naming it kwargs to make it immediately recognizable.How many fibonacci numbers you want to generate -10  
0 
1 
1 
2 
3 
5 
8 
13 
21 
34 def fiboacci (num):
    if num <= 1:
        return num
    if num == 2:
        return 1
    else:  
        return(fiboacci (num-1) + fiboacci (num-2))  
 
nums = int(input("How many fibonacci numbers you want to generate -" ))
 
 
 
for i in range(nums):
    print(fiboacci (i))  # Generate Fibonacci series
3/25/2021 Python - Jupyter Notebook
localhost:8889/notebooks/Documents/GitHub/Public/Python/Python.ipynb 66/118

578]:

577]:

In [ ]:
566]:60 
  File "<ipython-input-577-565d47b69332>" , line 2 
    If we want to make argument list dynamic then *args wil come in picture'''  
                                                                               
^ 
SyntaxError : invalid syntax  
 
 
arg_1: 1  
arg_2: 2  
arg_3: 3  def add(a,b,c):
    return a+b+c
    
print(add(10,20,30)) # Sum of two numbers
print(add(1,2,3,4)) '''This will throw below error as this function will only tak
If we want to make argument list dynamic then *args wil come in picture'''
def some_args (arg_1, arg_2, arg_3):
    print("arg_1:" , arg_1)
    print("arg_2:" , arg_2)
    print("arg_3:" , arg_3)
 
my_list = [2, 3]
some_args (1, *my_list)
3/25/2021 Python - Jupyter Notebook
localhost:8889/notebooks/Documents/GitHub/Public/Python/Python.ipynb 67/118

524]:

561]:

562]:

511]:

In [ ]:
517]:6 
10 
15 
21 
28 
Out[561]: (28, 28)
Out[562]: 112
('Asif', 7412, 41102, 33, 'India', 'Hindi')  
{'Name': 'Asif', 'ID': 7412, 'Pincode': 41102, 'Age': 33, 'Country': 'India',  
'Language': 'Hindi'}  def add1(*args):
    return sum(args)
 
print(add(1,2,3))
print(add(1,2,3,4))  # *args will take dynamic argument list. So add() function w
print(add(1,2,3,4,5))
print(add(1,2,3,4,5,6))
print(add(1,2,3,4,5,6,7))
list1 = [1,2,3,4,5,6,7]
tuple1 = (1,2,3,4,5,6,7)
 
add1(*list1) , add1(*tuple1) #tuple & list items will be passed as argument list 
list1 = [1,2,3,4,5,6,7]
list2 = [1,2,3,4,5,6,7]
list3 = [1,2,3,4,5,6,7]
list4 = [1,2,3,4,5,6,7]
 
add1(*list1 , *list2 , *list3 , *list4 ) #All four lists are unpacked and each in
def UserDetails (*args):
    print(args)
 
UserDetails ('Asif' , 7412 , 41102 , 33 ,  'India' , 'Hindi')
 
''' For the above example we have no idea about the parameters passed e.g 7412 , 
    In such cases we can take help of Keyworded arguments (**kwargs) '''
def UserDetails (**kwargs):
    print(kwargs)
 
UserDetails (Name='Asif' , ID=7412 , Pincode=41102 , Age= 33 ,  Country= 'India' ,
3/25/2021 Python - Jupyter Notebook
localhost:8889/notebooks/Documents/GitHub/Public/Python/Python.ipynb 68/118

519]:

523]:

553]:

In [ ]:
554]:Name :- Asif  
ID :- 7412  
Pincode :- 41102  
Age :- 33  
Country :- India  
Language :- Hindi  
Name :- Asif  
ID :- 7412  
Pincode :- 41102  
Age :- 33  
Country :- India  
Language :- Hindi  
License No :-  BHT145  
Full Name :- Asif Ali Bhat  
Phone Number:-  1234567890  
Name :- Asif  
ID :- 7412  
Pincode :- 41102  
Age :- 33  
Country :- India  
Language :- Hindi  def UserDetails (**kwargs):
    for key,val in kwargs.items():
        print("{} :- {}" .format(key,val))
 
UserDetails (Name='Asif' , ID=7412 , Pincode=41102 , Age= 33 ,  Country= 'India' ,
mydict = {'Name': 'Asif', 'ID': 7412, 'Pincode' : 41102, 'Age': 33, 'Country' : 'In
 
UserDetails (**mydict)
def UserDetails (licenseNo ,  *args , phoneNo=0 , **kwargs): # Using all four argum
    print('License No :- ' , licenseNo )
    j=''
    for i in args:
        j = j+i
    print('Full Name :-' ,j)
    print('Phone Number:- ' ,phoneNo)
    for key,val in kwargs.items():
        print("{} :- {}" .format(key,val))
        
        
name = ['Asif' , ' ' , 'Ali' , ' ','Bhat']
mydict = {'Name': 'Asif', 'ID': 7412, 'Pincode' : 41102, 'Age': 33, 'Country' : 'In
 
UserDetails ('BHT145'  , *name , phoneNo=1234567890 ,**mydict )
def UserDetails (licenseNo , *args , phoneNo=0, **kwargs): # Using all four argumen
    print('Nothing' )
3/25/2021 Python - Jupyter Notebook
localhost:8889/notebooks/Documents/GitHub/Public/Python/Python.ipynb 69/118

557]:

In [ ]:
564]:
Lambda, Filter, Map and Reduce
Lambda
A lambda function is an anonymous function (function without a name).
Lambda functions can have any number of arguments but only one expression. The
expression is evaluated and returned.
We use lambda functions when we require a nameless function for a short period of time.
Syntax:-
Filter
It is used to filter the iterables/sequence as per the conditions.
Filter function filters the original iterable and passes the items that returns T rue for the function
provided to filter .  File "<ipython-input-557-dcd3c92277bc>" , line 1 
    def UserDetails(licenseNo, **kwargs , *args): # This will fail. *args MUST
 come before **kwargs in the argument list  
                                          ^  
SyntaxError : invalid syntax  
 
 
  File "<ipython-input-564-8a3e722c7ed7>" , line 2 
    def UserDetails(ID = 1, licenseNo, *args):  
                   ^  
SyntaxError : non-default argument follows default argument  
 
 def UserDetails (licenseNo , **kwargs , *args): # This will fail. *args MUST come b
    print('Nothing' )
#The below function will fail. Default argument/positional argument (licenseNo) M
def UserDetails (ID = 1, licenseNo , *args):
    print('Nothing' )
3/25/2021 Python - Jupyter Notebook
localhost:8889/notebooks/Documents/GitHub/Public/Python/Python.ipynb 70/118It is normally used with Lambda functions to filter list, tuple, or sets.
filter() method takes two parameters:
function  - function tests if elements of an iterable returns true or false
iterable  - Sequence which needs to be filtered, could be sets, lists, tuples, or any iterators
Syntax:
Map
The map() function applies a given function to each item of an iterable (list, tuple etc.) and
returns a list of the results.
map() function takes two Parameters :
function  : The function to execute for each item of given iterable.
iterable  : It is a iterable which is to be mapped.
Returns  : Returns a list of the results after applying the given function to each item of a given
iterable (list, tuple etc.)
Syntax:
Reduce
3/25/2021 Python - Jupyter Notebook
localhost:8889/notebooks/Documents/GitHub/Public/Python/Python.ipynb 71/118The reduce() function is defined in the functools  python module.The reduce() function
receives two arguments, a function and an iterable. However , it doesn't return another iterable,
instead it returns a single value.
Working:
1) Apply a function to the first two items in an iterable and generate a partial result.
2) The function is then called again with the result obtained in step 1  and the next value in the
sequence. This process keeps on repeating until there are items in the sequence.
3) The final returned result is returned and printed on console.
Syntax:

392]:

393]:

394]:

364]:

In [ ]:
370]:15 
30 
13 
Out[364]: (30, 100, 280)
Out[370]: (60, 150)addition  = lambda a : a + 10  # This lambda function adds value 10 to an argument
print(addition (5))
product = lambda a, b : a * b #This lambda function takes two arguments (a,b) and
print(product(5, 6))
addition  = lambda a, b, c : a + b + c  #This lambda function takes three argument
print(addition (5, 6, 2))
res = (lambda *args: sum(args))  # This lambda function can take any number of ar
res(10,20) , res(10,20,30,40) ,  res(10,20,30,40,50,60,70)
res1 = (lambda **kwargs: sum(kwargs.values())) # This lambda function can take an
res1(a = 10 , b= 20 , c = 30) , res1(a = 10 , b= 20 , c = 30, d = 40 , e = 50)
3/25/2021 Python - Jupyter Notebook
localhost:8889/notebooks/Documents/GitHub/Public/Python/Python.ipynb 72/118

386]:

446]:

447]:

437]:

In [ ]:
438]:Out[386]: (60, 150)
Out[446]: (6000, 12000000)
15 
25 
35 
Out[437]: [1, 3, 5, 7, 9]
Out[438]: [1, 3, 5, 7, 9]res1 = (lambda **kwargs: sum(kwargs.values())) # This lambda function can take an
res1(a = 10 , b= 20 , c = 30) , res1(a = 10 , b= 20 , c = 30, d = 40 , e = 50)
# User defined function to find product of numbers
def product(nums):  
    total = 1
    for i in nums:
        total *= i  
    return total
 
# This lambda function can take any number of arguments and return thier product.
res1 = (lambda **kwargs: product(kwargs.values())) 
res1(a = 10 , b= 20 , c = 30) , res1(a = 10 , b= 20 , c = 30, d = 40 , e = 50)
def myfunc(n):
  return lambda a : a + n
 
add10 = myfunc(10)
add20 = myfunc(20)
add30 = myfunc(30)
 
print(add10(5))
print(add20(5))
print(add30(5))
list1 = [1,2,3,4,5,6,7,8,9]
 
def odd(n):
    if n%2 ==1: return True
    else: return False
    
odd_num = list(filter(odd,list1)) # This Filter function filters list1 and passes
odd_num
list1 = [1,2,3,4,5,6,7,8,9]
# The below Filter function filters "list1" and passes all odd numbers using lamb
odd_num = list(filter(lambda n: n%2 ==1 ,list1)) 
odd_num
3/25/2021 Python - Jupyter Notebook
localhost:8889/notebooks/Documents/GitHub/Public/Python/Python.ipynb 73/118

439]:

440]:

441]:

442]:

In [ ]:
448]:
Out[439]: [2, 6, 10, 14, 18]
Out[440]: [2, 6, 10, 14, 18]
Out[441]: 50
Out[442]: 50
Out[448]: 50def twice(n):
    return n*2
  
doubles = list(map(twice,odd_num)) # The map function will apply user defined "tw
doubles
doubles = list(map(lambda n:n*2,odd_num)) # This map function will double all ite
doubles
from functools  import reduce
 
def add(a,b):
    return a+b
  
sum_all = reduce(add,doubles) # This reduce function will perform sum of all item
sum_all
#The below reduce() function will perform sum of all items in the list using lamb
sum_all = reduce(lambda a,b : a+b,doubles)
sum_all
# Putting all together 
 
sum_all = reduce(lambda a,b : a+b,list(map(lambda n:n*2,list(filter(lambda n: n%2
sum_all
3/25/2021 Python - Jupyter Notebook
localhost:8889/notebooks/Documents/GitHub/Public/Python/Python.ipynb 74/118

]:

In [ ]:
497]:
--------  
[2, 4, 6, 8, 10]  
[1, 3, 5, 7, 9]  
--------  
['TWO', 'FOUR']  
['one', 'three']  
--------  
['one'] 
['88', '99', '102']  
['one', 'two2', 'three3', '88', '99', '102']  
--------  # More examples on Map , Filter , Reduce  
list1 = [1,2,3,4,5,6,7,8,9,10]
even = list(filter(lambda n: n%2 ==0 ,list1)) # Filter even numbers from the list
odd =  list(filter(lambda n: n%2 !=0 ,list1))   # Filter odd numbers from the lis
 
print('--------' )
print(even)
print(odd)
print('--------' )
 
list2 = ['one' , 'TWO' , 'three' , 'FOUR']
 
upper = list(filter(lambda x: x.isupper() , list2)) # filter uppercase strings fr
 
lower = list(filter(lambda x: x.islower() , list2)) # filter lowercase strings fr
 
 
print(upper)
print(lower)
print('--------' )
 
list3 = ['one' , 'two2' , 'three3'  ,'88' , '99' , '102']
 
numeric = list(filter(lambda x:x.isnumeric (), list3))  # filter numbers from the 
 
alpha = list(filter(lambda x:x.isalpha(), list3))      # filter character strings
 
alphanum  = list(filter(lambda x:x.isalnum(), list3)) # filtr numbers & character 
 
 
print(alpha)
print(numeric)
print(alphanum )
print('--------' )
 
 
#Vowel Test
 
3/25/2021 Python - Jupyter Notebook
localhost:8889/notebooks/Documents/GitHub/Public/Python/Python.ipynb 75/118

In [ ]:
501]:
---------------  
[2, 4, 6, 8]  
[6, 8, 10, 12]  
[1, 4, 9, 16]  
---------------  
[2, 4, 6, 8]  
[6, 8, 10, 12]  
[1, 4, 9, 16]  
---------------  list1 = [1,2,3,4]
list2 = [5,6,7,8]
 
def double(x):
    return x+x
 
def add(x,y):
    return x+y
 
def square(x):
    return x*x
 
print('---------------' )
 
print(list(map(double, list1))) # Double each number using map & User defined fun
print(list(map(add, list1, list2))) # add two items  using map & User defined fun
print(list(map(square, list1))) #Square numbers using map & User defined function
 
print('---------------' )
 
print(list(map(lambda x: x + x, list1))) # Double each number using map & lambda
print(list(map(lambda x, y: x + y, list1, list2))) # add two items  using map & l
print(list(map(lambda x: x*x, list1))) #Square numbers using map & lambda
 
print('---------------' )
3/25/2021 Python - Jupyter Notebook
localhost:8889/notebooks/Documents/GitHub/Public/Python/Python.ipynb 76/118

459]:

In [ ]:
461]:24 
10 
Python Rocks  
Hello Hello Hello  
1 
4 
Out[461]: (1, 4)list2 = [1,2,3,4]
 
product = reduce (operator .mul,list2) # Product of all numbers in a list
 
add = reduce(operator .add,list2) # Add all numbers in the list
 
concat_str  = reduce(operator .add , ['Python'  , ' ' , 'Rocks']) # Concatenate stri
 
prod = reduce(operator .mul,['Hello '  , 3]) #Repeat a string multiple times
 
min_num = reduce(lambda a, b: a if a < b else b, list2) # Minimum number in the l
 
max_num = reduce(lambda a, b: a if a > b else b, list2) # Maximum number in the l
 
print(product)
 
print(add)
 
print(concat_str )
 
print(prod)
 
print(min_num)
 
print(max_num)
def min_func (a, b):
        return a if a < b else b
 
 
def max_func (a, b):
    return a if a > b else b
 
min_num = reduce(min_func , list2) # Minimum number in the list using reduce () & 
 
max_num = reduce(max_func , list2) # Maximum number in the list using reduce () & 
 
min_num , max_num
3/25/2021 Python - Jupyter Notebook
localhost:8889/notebooks/Documents/GitHub/Public/Python/Python.ipynb 77/118

In [ ]:
474]:
Classes & Objects
A Class is an object constructor or a "blueprint" for creating objects.
Objects are nothing but an encapsulation of variables and functions into a single entity .
Objects get their variables and functions from classes.
To create a class we use the keyword class .
The first string inside the class is called docstring which gives the brief description about the
class.
All classes have a function called  which is always executed when the class is
being initiated.
We can use  function to assign values to object properties or other operations
that are necessary to perform when the object is being created
The self parameter is a reference to the current instance of the class and is used to access
class variables.
self must be the first parameter of any function in the class
The super()  builtin function returns a temporary object of the superclass that allows us to
access methods of the base class.
super()  allows us to avoid using the base class name explicitly and to enable multiple
inheritance.
Syntax____init____()
____init____()------ 
False 
True 
False 
------ 
False 
True 
True 
------ print('------' )
print(reduce(lambda a, b: bool(a and b), [0, 0, 1, 0, 0])) # Returns True if all 
print(reduce(lambda a, b: bool(a and b), [2, 3, 1, 5, 6])) # Returns True if all 
print(reduce(lambda a, b: bool(a and b), [8, 9, 1, 0, 9])) # Returns True if all 
 
print('------' )
 
print(reduce(lambda a, b: bool(a or b), [0, 0, 0, 0, 0]))  # Returns True if any 
print(reduce(lambda a, b: bool(a or b), [2, 3, 1, 5, 6]))  # Returns True if any 
print(reduce(lambda a, b: bool(a or b), [8, 9, 1, 0, 9]))  # Returns True if any 
 
print('------' )
3/25/2021 Python - Jupyter Notebook
localhost:8889/notebooks/Documents/GitHub/Public/Python/Python.ipynb 78/118

In [ ]:
49]:
10 # Create a class with property "var1"
class myclass:
    var1 = 10
    
obj1 = myclass() # Create an object of class "myclass()"
print(obj1.var1)
3/25/2021 Python - Jupyter Notebook
localhost:8889/notebooks/Documents/GitHub/Public/Python/Python.ipynb 79/118

70]:

71]:

72]:

73]:

In [ ]:
75]:Name :-  Asif  
Employee ID :-  34163  
Thanks for joining ABC Company Asif!!  
Out[71]: 'Basit'
---------------------------------------------------------------------------  
AttributeError                             Traceback (most recent call last)  
<ipython-input-72-b111c8b828fc>  in <module>  
     1 del emp1.empid   # Delete Object Properties  
----> 2 emp1.empid 
AttributeError : 'Employee' object has no attribute 'empid'  
---------------------------------------------------------------------------  
NameError                                  Traceback (most recent call last)  
<ipython-input-73-db2cb77ec9fb>  in <module>  
      1 del emp1 # Delete the object  
----> 2 emp1 
 
NameError : name 'emp1' is not defined  
 
Name :-  Michael  
Employee ID :-  34162  
Thanks for joining ABC Company Michael!!  # Create an employee class
class Employee :
  def __init__ (self, name, empid): # __init__() function is used to assign values
    self.name = name
    self.empid = empid
  def greet(self): # Class Method
    print("Thanks for joining ABC Company {}!!" .format(self.name))
 
emp1 = Employee ("Asif", 34163)  # Create an employee object
 
print('Name :- ' ,emp1.name)
print('Employee ID :- ' ,emp1.empid)
emp1.greet()
emp1.name = 'Basit' # Modify Object Properties
emp1.name
del emp1.empid   # Delete Object Properties
emp1.empid
del emp1 # Delete the object
emp1
emp2 = Employee ("Michael" , 34162)  # Create an employee object
 
print('Name :- ' ,emp2.name)
print('Employee ID :- ' ,emp2.empid)
emp2.greet()
3/25/2021 Python - Jupyter Notebook
localhost:8889/notebooks/Documents/GitHub/Public/Python/Python.ipynb 80/118

In [ ]:
77]:
Inheritance
Inheritance is a powerful feature in object oriented programming.
Inheritance provides code reusability in the program because we can use an existing class
(Super Class/ Parent Class / Base Class) to create a new class (Sub Class / Child Class /
Derived Class) instead of creating it from scratch.
The child class inherits data definitions and methods from the parent class which facilitates the
reuse of features already available. The child class can add few more definitions or redefine a
base class method.
Inheritance comes into picture when a new class possesses the ' IS A' relationship with an
existing class. E.g Student is a person. Hence person is the base class and student is derived
class.Out[77]: 'India'emp2.country = 'India' #instance variable can be created manually
emp2.country
3/25/2021 Python - Jupyter Notebook
localhost:8889/notebooks/Documents/GitHub/Public/Python/Python.ipynb 81/118

3/25/2021 Python - Jupyter Notebook
localhost:8889/notebooks/Documents/GitHub/Public/Python/Python.ipynb 82/118

In [ ]:
163]:
Student Details  
---------------  
Name :- Asif  class person:   # Parent Class
    def __init__ (self, name , age , gender):
        self.name = name
        self.age = age
        self.gender = gender
    
    def PersonInfo (self):
        print('Name :- {}' .format(self.name))
        print('Age :- {}' .format(self.age))
        print('Gender :- {}' .format(self.gender))
 
        
        
        
class student(person): # Child Class
    def __init__ (self,name,age,gender,studentid ,fees):
        person.__init__ (self,name,age,gender)
        self.studentid  = studentid
        self.fees = fees
    
    def StudentInfo (self):
        print('Student ID :- {}' .format(self.studentid ))
        print('Fees :- {}' .format(self.fees))
        
 
        
class teacher(person): # Child Class
    def __init__ (self,name,age,gender,empid,salary):
        person.__init__ (self,name,age,gender)
        self.empid = empid
        self.salary = salary
    
    def TeacherInfo (self):
        print('Employee ID :- {}' .format(self.empid))
        print('Salary :- {}' .format(self.salary))
 
 
        
stud1 = student('Asif' , 24 , 'Male' , 123 , 1200)
print('Student Details' )
print('---------------' )
stud1.PersonInfo ()    # PersonInfo() method presnt in Parent Class will be access
stud1.StudentInfo ()
print()
 
 
 
teacher1  = teacher('Basit' , 36 , 'Male' , 456 , 80000)
print('Employee Details' )
print('---------------' )
teacher1 .PersonInfo ()    # PersonInfo() method presnt in Parent Class will be acc
teacher1 .TeacherInfo ()
3/25/2021 Python - Jupyter Notebook
localhost:8889/notebooks/Documents/GitHub/Public/Python/Python.ipynb 83/118

In [ ]:
4]:Age :- 24  
Gender :- Male  
Student ID :- 123  
Fees :- 1200  
Employee Details  
---------------  
Name :- Basit  
Age :- 36  
Gender :- Male  
Employee ID :- 456  
Salary :- 80000  
Student Details  
---------------  
Name :- Asif  
Age :- 24  
Gender :- Male  
Student ID :- 123  
Fees :- 1200  class person:   # Parent Class
    def __init__ (self, name , age , gender):
        self.name = name
        self.age = age
        self.gender = gender
    
    def PersonInfo (self):
        print('Name :- {}' .format(self.name))
        print('Age :- {}' .format(self.age))
        print('Gender :- {}' .format(self.gender))
 
        
        
        
class student(person): # Child Class
    def __init__ (self,name,age,gender,studentid ,fees):
        person.__init__ (self,name,age,gender)
        self.studentid  = studentid
        self.fees = fees
    
    def StudentInfo (self):
        print('Student ID :- {}' .format(self.studentid ))
        print('Fees :- {}' .format(self.fees))
        
        
stud1 = student('Asif' , 24 , 'Male' , 123 , 1200)
print('Student Details' )
print('---------------' )
stud1.PersonInfo ()    # PersonInfo() method presnt in Parent Class will be access
stud1.StudentInfo ()
print()
3/25/2021 Python - Jupyter Notebook
localhost:8889/notebooks/Documents/GitHub/Public/Python/Python.ipynb 84/118

In [ ]:
182]:
Multi-level Inheritance
In this type of inheritance, a class can inherit from a child class or derived class.
Multilevel Inheritance can be of any depth in pythonName :- Asif  
Age :- 24  
Gender :- Male  
Student ID :- 123  
Fees :- 1200  # super() builtin function allows us to access methods of the base class.
 
class person:   # Parent Class
    def __init__ (self, name , age , gender):
        self.name = name
        self.age = age
        self.gender = gender
    
    def PersonInfo (self):
        print('Name :- {}' .format(self.name))
        print('Age :- {}' .format(self.age))
        print('Gender :- {}' .format(self.gender))
 
        
        
        
class student(person): # Child Class
    def __init__ (self,name,age,gender,studentid ,fees):
        super().__init__ (name,age,gender)  
        self.studentid  = studentid
        self.fees = fees
    
    def StudentInfo (self):
        super().PersonInfo ()
        print('Student ID :- {}' .format(self.studentid ))
        print('Fees :- {}' .format(self.fees))
        
stud = student('Asif' , 24 , 'Male' , 123 , 1200)
print('Student Details' )
print('---------------' )
stud.StudentInfo ()
3/25/2021 Python - Jupyter Notebook
localhost:8889/notebooks/Documents/GitHub/Public/Python/Python.ipynb 85/118

3/25/2021 Python - Jupyter Notebook
localhost:8889/notebooks/Documents/GitHub/Public/Python/Python.ipynb 86/118

3/25/2021 Python - Jupyter Notebook
localhost:8889/notebooks/Documents/GitHub/Public/Python/Python.ipynb 87/118

In [ ]:
196]: class person:   # Parent Class
    def __init__ (self, name , age , gender):
        self.name = name
        self.age = age
        self.gender = gender
    
    def PersonInfo (self):
        print('Name :- {}' .format(self.name))
        print('Age :- {}' .format(self.age))
        print('Gender :- {}' .format(self.gender))
 
        
        
        
class employee (person): # Child Class
    def __init__ (self,name,age,gender,empid,salary):
        person.__init__ (self,name,age,gender)
        self.empid = empid
        self.salary = salary
    
    def employeeInfo (self):
        print('Employee ID :- {}' .format(self.empid))
        print('Salary :- {}' .format(self.salary))
        
        
 
        
class fulltime (employee ): # Grand Child Class
    def __init__ (self,name,age,gender,empid,salary,WorkExperience ):
        employee .__init__ (self,name,age,gender,empid,salary)
        self.WorkExperience  = WorkExperience
    
    def FulltimeInfo (self):
        print('Work Experience :- {}' .format(self.WorkExperience ))
        
        
        
 
class contractual (employee ): # Grand Child Class
    def __init__ (self,name,age,gender,empid,salary,ContractExpiry ):
        employee .__init__ (self,name,age,gender,empid,salary)
        self.ContractExpiry  = ContractExpiry
    
    def ContractInfo (self):
        print('Contract Expiry :- {}' .format(self.ContractExpiry ))
 
        
print('Contractual Employee Details' )
print('****************************' )
contract1  = contractual ('Basit' , 36 , 'Male' , 456 , 80000,'21-12-2021' )
contract1 .PersonInfo ()
contract1 .employeeInfo ()
contract1 .ContractInfo ()
 
print('\n \n')
 
3/25/2021 Python - Jupyter Notebook
localhost:8889/notebooks/Documents/GitHub/Public/Python/Python.ipynb 88/118Multiple Inheritance
Multiple inheritance is a feature in which a class (derived class) can inherit attributes and
methods from more than one parent class.
The derived class inherits all the features of the base case.Contractual Employee Details  
****************************  
Name :- Basit  
Age :- 36  
Gender :- Male  
Employee ID :- 456  
Salary :- 80000  
Contract Expiry :- 21-12-2021  
 
Fulltime Employee Details  
****************************  
Name :- Asif  
Age :- 22  
Gender :- Male  
Employee ID :- 567  
Salary :- 70000  
Work Experience :- 12  print('Fulltime Employee Details' )
print('****************************' )
fulltim1 = fulltime ('Asif' , 22 , 'Male' , 567 , 70000, 12)
fulltim1 .PersonInfo ()
fulltim1 .employeeInfo ()
fulltim1 .FulltimeInfo ()
3/25/2021 Python - Jupyter Notebook
localhost:8889/notebooks/Documents/GitHub/Public/Python/Python.ipynb 89/118

3/25/2021 Python - Jupyter Notebook
localhost:8889/notebooks/Documents/GitHub/Public/Python/Python.ipynb 90/118

120]:

In [ ]:
215]:
Method Overriding
Overriding is a very important part of object oreinted programming because it makes
inheritance exploit its full power .My Name :-  Bill  
Father : John  
Mother : Kristen  
2020-08-09 23:48:55  # Super Class
class Father:
    def __init__ (self):
        self.fathername  = str()
 
    
# Super Class
class Mother:
    def __init__ (self):
        self.mothername  = str()
    
    
# Sub Class
class Son(Father, Mother):
    name = str()
    def show(self):
        print('My Name :- ' ,self.name)
        print("Father :" , self.fathername )
        print("Mother :" , self.mothername )
 
 
s1 = Son()
s1.name = 'Bill'
s1.fathername  = "John"
s1.mothername  = "Kristen"
s1.show()
class Date:
    def __init__ (self,date):
        self.date = date    
        
class Time:
    def __init__ (self,time):
        self.time = time
 
class timestamp (CurrentDate ,CurrentTime ):
    def __init__ (self,date,time):
        CurrentDate .__init__ (self,date)
        CurrentTime .__init__ (self,time)
        DateTime  = self.date + ' ' + self.time
        print(DateTime )
 
datetime1  = timestamp ( '2020-08-09' , '23:48:55' )
3/25/2021 Python - Jupyter Notebook
localhost:8889/notebooks/Documents/GitHub/Public/Python/Python.ipynb 91/118Overriding is the ability of a class (Sub Class / Child Class / Derived Class) to change the
implementation of a method provided by one of its parent classes.
When a method in a subclass has the same name, same parameter and same return type as
a method in its super-class, then the method in the subclass is said to override the method in
the super-class.
The version of a method that is executed will be determined by the object that is used to
invoke it.
If an object of a parent class is used to invoke the method, then the version in the parent class
will be executed, but if an object of the subclass is used to invoke the method, then the
version in the child class will be executed.

In [ ]:
173]:
Container
Containers are data structures that hold data values.
They support membership tests which means we can check whether a value exists in the
container or not.
Generally containers provide a way to access the contained objects and to iterate over them.
Examples of containers include tuple, list, set, dict, strHello Student  
Hello Person  class person:   # Parent Class
    def __init__ (self, name , age , gender):
        self.name = name
        self.age = age
        self.gender = gender
        
    def greet(self):
        print("Hello Person" )
        
        
        
class student(person): # Child Class
    def __init__ (self,name,age,gender,studentid ,fees):
        person.__init__ (self,name,age,gender)
        self.studentid  = studentid
        self.fees = fees
 
    def greet(self):
        print("Hello Student" )
        
    
stud = student('Gabriel'  , 56 , 'Male' , 45 , 345678)
stud.greet() # greet() method defined in subclass will be triggered as "stud" is 
 
person1 = person('Gabriel'  , 56 , 'Male')
person1.greet() # greet() method defined in superclass will be triggered because 
3/25/2021 Python - Jupyter Notebook
localhost:8889/notebooks/Documents/GitHub/Public/Python/Python.ipynb 92/118apes o  cotaes cude tup e, st, set, d ct, st

124]:

128]:

127]:

130]:

131]:

132]:

133]:

In [ ]:
134]:
Iterable & Iterator
An iterable  is an object that can be iterated upon. It can return an iterator object with the
purpose of traversing through all the elements of an iterable.
An iterable object implements __iter ()__ which is expected to return an iterator object. The
iterator object uses the __next ()__ method. Every time next()  is called next element in the
iterator stream is returned. When there are no more elements available StopIteration
exception  is encountered. So any object that has a __next ()__ method is called an iterator .Out[124]: True
---------------------------------------------------------------------------  
AssertionError                             Traceback (most recent call last)  
<ipython-input-127-f7bcea8c4682>  in <module>  
----> 1 assert 'john1' in list1 
AssertionError :  
Out[130]: {'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}
Out[131]: False
Out[132]: True
Out[133]: True
Out[134]: Truelist1 = ['asif' , 'john' , 'Michael'  , 'Basit']
 
'asif' in list1  # Membership check using 'in' operator
assert 'john' in list1  # If the condition returns true the program does nothing 
assert 'john1' in list1 # If the condition returns false, Assert will stop the pr
mydict = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Address'  : 'Hilsinki' }
mydict
'Asif' in mydict # Dictionary membership will always check the keys
'Name' in mydict # Dictionary membership will always check the keys
'DOB' in mydict
mystr = 'asifbhat'
 
'as' in mystr  # Check if substring is present
3/25/2021 Python - Jupyter Notebook
localhost:8889/notebooks/Documents/GitHub/Public/Python/Python.ipynb 93/118Python lists, tuples, dictionaries and sets are all examples of iterable objects.

3/25/2021 Python - Jupyter Notebook
localhost:8889/notebooks/Documents/GitHub/Public/Python/Python.ipynb 94/118

236]:

238]:

247]:

In [ ]:
241]:Asif 
Basit 
John 
Michael 
---------------------------------------------------------------------------  
StopIteration                              Traceback (most recent call last)  
<ipython-input-236-a2095e242a65>  in <module>  
      5 print(next(list_iter )) 
      6 print(next(list_iter )) 
----> 7 print(next(list_iter )) 
 
StopIteration :  
 
Asif 
Basit 
John 
Michael 
Asif 
Basit 
John 
Michael 
Asif 
Basit 
John 
Michael mylist = ['Asif' , 'Basit' , 'John' , 'Michael' ]
list_iter  = iter(mylist) # Create an iterator object using iter()
print(next(list_iter ))  # return first element in the iterator stream
print(next(list_iter ))  # return next element in the iterator stream
print(next(list_iter ))
print(next(list_iter ))
print(next(list_iter ))
mylist = ['Asif' , 'Basit' , 'John' , 'Michael' ]
list_iter  = iter(mylist)     # Create an iterator object using iter()
print(list_iter .__next__ ())  # return first element in the iterator stream
print(list_iter .__next__ ())  # return next element in the iterator stream
print(list_iter .__next__ ())
print(list_iter .__next__ ())
mylist = ['Asif' , 'Basit' , 'John' , 'Michael' ]
list_iter  = iter(mylist)     # Create an iterator object using iter()
for i in list_iter :
    print(i)
# Looping Through an Iterable (list) using for loop
 
mylist = ['Asif' , 'Basit' , 'John' , 'Michael' ]
 
for i in mylist:
    print(i)
3/25/2021 Python - Jupyter Notebook
localhost:8889/notebooks/Documents/GitHub/Public/Python/Python.ipynb 95/118

242]:

In [ ]:
243]:Asif 
Basit 
John 
Michael 
H 
e 
l 
l 
o 
  
P 
y 
t 
h 
o 
n # Looping Through an Iterable (tuple) using for loop
 
mytuple = ('Asif' , 'Basit' , 'John' , 'Michael' )
 
for i in mytuple:
    print(i)
# Looping Through an Iterable (string) using for loop
 
mystr = "Hello Python"
 
for i in mystr:
    print(i)
3/25/2021 Python - Jupyter Notebook
localhost:8889/notebooks/Documents/GitHub/Public/Python/Python.ipynb 96/118

In [ ]:
255]:
1 
2 
3 
4 
5 
6 
7 
8 
9 
10 # This iterator produces all natural numbers from 1 to 10.
class myiter:
     def __init__ (self):
            self.num = 0
     
     def __iter__ (self):
            self.num = 1
            return self
     
     def __next__ (self):
        if self.num <= 10:
            val = self.num
            self.num += 1
            return val
        else:
            raise StopIteration
 
mynum = myiter()
iter1 = iter(mynum)
for i in iter1:
    print(i)
3/25/2021 Python - Jupyter Notebook
localhost:8889/notebooks/Documents/GitHub/Public/Python/Python.ipynb 97/118

In [ ]:
256]:
1 
3 
5 
7 
9 
11 
13 
15 
17 
19 # This iterator will produce odd numbers
class myiter:
     def __init__ (self):
            self.num = 0
     
     def __iter__ (self):
            self.num = 1
            return self
     
     def __next__ (self):
        if self.num <= 20 :
            val = self.num
            self.num += 2
            return val
        else:
            raise StopIteration
 
myodd = myiter()
iter1 = iter(myodd)
for i in iter1:
    print(i)
3/25/2021 Python - Jupyter Notebook
localhost:8889/notebooks/Documents/GitHub/Public/Python/Python.ipynb 98/118

In [ ]:
257]:
Generator
Python generators are easy way of creating iterators. It generates values one at a time from a
given sequence instead of returning the entire sequence at once.
It is a special type of function which returns an iterator object.
In a generator function, a yield  statement is used rather than a return  statement.
The generator function cannot include the return keyword. If we include it then it will terminate
the execution of the function.
The dif ference between yield  and return  is that once yield returns a value the function is
paused and the control is transferred to the caller .Local variables and their states are
remembered between successive calls. In case of the return statement value is returned and
the execution of the function is terminated.
Methods like iter() and next() are implemented automatically in generator function.1 
1 
2 
3 
5 
8 
13 
21 
34 # This iterator will produce fibonacci numbers
 
class myfibonacci :
     def __init__ (self):
            self.prev = 0
            self.cur = 0
     
     def __iter__ (self):
            self.prev = 0
            self.cur = 1
            return self
     
     def __next__ (self):
        if self.cur <= 50:
            val = self.cur
            self.cur += self.prev
            self.prev = val
            return val
        else:
            raise StopIteration
 
myfibo = myfibonacci ()
iter1 = iter(myfibo)
for i in iter1:
    print(i)
3/25/2021 Python - Jupyter Notebook
localhost:8889/notebooks/Documents/GitHub/Public/Python/Python.ipynb 99/118__ ()__ __ ()__ p yg
Simple generators can be easily created using generator expressions . Generator
expressions create anonymous generator functions like lambda.
The syntax for generator expression is similar to that of a list comprehension but the only
difference is square brackets are replaced with round parentheses. Also list comprehension
produces the entire list while the generator expression produces one item at a time which is
more memory ef ficient than list comprehension.

In [ ]:
258]:
1 
2 
3 
4 
5 
---------------------------------------------------------------------------  
StopIteration                              Traceback (most recent call last)  
<ipython-input-258-4c1c399db6dd>  in <module>  
     24 print(next(mygen1)) 
     25 print(next(mygen1)) 
---> 26 print(next(mygen1)) 
 
StopIteration :  
 # Simple generator function that will generate numbers from 1 to 5.
def mygen():
    n = 1
    yield n
 
    n += 1
    yield n
 
    n += 1
    yield n
 
    n += 1
    yield n
    
    n += 1
    yield n
    
mygen1 = mygen()
 
print(next(mygen1))
print(next(mygen1))
print(next(mygen1))
print(next(mygen1))
print(next(mygen1)) #Function will terminate here as all 5 values have been retur
print(next(mygen1)) # As function is already terminated, StopIteration is raised 
3/25/2021 Python - Jupyter Notebook
localhost:8889/notebooks/Documents/GitHub/Public/Python/Python.ipynb 100/118

272]:

In [ ]:
274]:1 
2 
3 
4 
5 
6 
7 
8 
9 
10 
11 
12 
13 
14 
15 
16 
17 
18 
19 
Out[274]: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]# Simple generator function that will generate natural numbers from 1 to 20.
def mygen():
    for i in range(1,20):
        yield i
 
    
mygen1 = mygen()
 
for i in mygen1:
    print(i)
num = list(mygen()) # Store all values generated by generator function in a list
num
3/25/2021 Python - Jupyter Notebook
localhost:8889/notebooks/Documents/GitHub/Public/Python/Python.ipynb 101/118

275]:

276]:

In [ ]:
277]:2 
4 
6 
8 
10 
12 
14 
16 
18 
0 
1 
1 
2 
3 
5 
8 
13 
21 
34 
Out[277]: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]# Simple generator function that will generate even numbers from 1 to 20.
def mygen():
    for i in range(1,20):
        if i%2 == 0:
            yield i
 
    
mygen1 = mygen()
 
for i in mygen1:
    print(i)
# This Generator function will generate ten numbers of fibonacci series.
def myfibo():
    num1 , num2 = 0,1
    count = 0
    while count < 10:
            yield num1
            num1,num2 = num2,num1+num2
            count+=1
 
            
fibo = myfibo()
 
for i in fibo:
    print(i)
list1 = list(myfibo()) # Store the fibonacci series in a list
list1
3/25/2021 Python - Jupyter Notebook
localhost:8889/notebooks/Documents/GitHub/Public/Python/Python.ipynb 102/118

283]:

280]:

282]:

In [ ]:
288]:
Decorator
Decorator  is very powerful and useful tool in Python as it allows us to wrap another function in
order to extend the behavior of wrapped function without permanently modifying it.Out[283]: [0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
Out[280]: <generator object <genexpr> at 0x000001EF4B639848>
1 
4 
9 
16 
25 
0 
2 
4 
6 
8 
10 
12 
14 
16 
18 
20 
22 
24 
26 
28 
30 
32 
34 
36 
38 list2 = [i**2 for i in range(10)]  # List comprehension
list2
gen2 = (i**2 for i in range(10)) # Generator expression
gen2
print(next(gen2))
print(next(gen2))
print(next(gen2))
print(next(gen2))
print(next(gen2))
gen2 = (i for i in range(40) if i%2 == 0) # Generator expression to generate even
gen2
 
for i in gen2:
    print(i)
3/25/2021 Python - Jupyter Notebook
localhost:8889/notebooks/Documents/GitHub/Public/Python/Python.ipynb 103/118In Decorators functions are taken as the argument into another function and then called inside the
wrapper function.
Advantages  -
Logging & debugging
Access control and authentication

2]:

6]:

In [ ]:
20]:Result is :-  2  
Result is :-  -2  
Result is :-  2  
Result is :-  2  def subtract (num1 , num2):
    res = num1 - num2
    print('Result is :- ' , res)
    
subtract (4,2)
subtract (2,4)
''' We now want subtract() function to always subtract lower number from higher o
    So when we pass (2,4) it should perform 4-2 not 2-4. To acheive this we will 
    
 
def sub_decorator (func):
    def wrapper(num1,num2):
        if num1 < num2:
            num1,num2 = num2,num1
            return func(num1,num2)
    return wrapper
            
sub = sub_decorator (subtract )
 
sub(2,4)
@sub_decorator    # we can use @ syntax for decorating a function in one step
def subtract (num1 , num2):
    res = num1 - num2
    print('Result is :- ' , res)
subtract (2,4)
3/25/2021 Python - Jupyter Notebook
localhost:8889/notebooks/Documents/GitHub/Public/Python/Python.ipynb 104/118

In [ ]:
60]:
Linux installation has started  
 
Windows installation has started  
 
Mac installation has started  
 
 
Please accept terms & conditions  
Linux installation has started  
 
Please accept terms & conditions  
Windows installation has started  
  
Please accept terms & conditions  
Mac installation has started  
 def InstallLinux ():
    print('Linux installation has started \n' )
    
def InstallWindows ():
    print('Windows installation has started \n' )
    
def InstallMac ():
    print('Mac installation has started \n' )
 
    
InstallLinux ()
InstallWindows ()
InstallMac ()
 
print()
 
 
''' Now suppose if we want to print message :- "Please accept terms & conditions"
    then easy way will be to create one decorator function which will present thi
  
    
 
def InstallDecorator (func):
    def wrapper():
        print('Please accept terms & conditions' )
        return func()
    return wrapper()
 
@InstallDecorator     # we can use @ syntax for decorating a function in one step
def InstallLinux ():
    print('Linux installation has started \n' )
  
@InstallDecorator
def InstallWindows ():
    print('Windows installation has started \n ' )
 
@InstallDecorator
def InstallMac ():
    print('Mac installation has started \n' )
3/25/2021 Python - Jupyter Notebook
localhost:8889/notebooks/Documents/GitHub/Public/Python/Python.ipynb 105/118

In [ ]:
69]:
File Management
Python has several built-in modules and functions for creating,
reading, updating and deleting files.
Please accept terms & conditions...  
 
Please enter correct license key...  
 
Please enter partitioning choice...  
 
Linux installation has started  
 # Apply multiple decorator on a single function
 
def InstallDecorator1 (func):
    def wrapper():
        print('Please accept terms & conditions...\n' )
        func()
    return wrapper
 
def InstallDecorator2 (func):
    def wrapper():
        print('Please enter correct license key...\n' )
        return func()
    return wrapper
 
 
def InstallDecorator3 (func):
    def wrapper():
        print('Please enter partitioning choice...\n' )
        return func()
    return wrapper
 
@InstallDecorator1
@InstallDecorator2
@InstallDecorator3
def InstallLinux ():
    print('Linux installation has started \n' )
 
InstallLinux ()
3/25/2021 Python - Jupyter Notebook
localhost:8889/notebooks/Documents/GitHub/Public/Python/Python.ipynb 106/118Open File

69]:

70]:

71]:

72]:
Close File

73]:
Read File

84]:

85]:

In [ ]:
86]:Out[85]: 'Python generators are easy way of creating iterators. It generates values one  
at a time from a given sequence instead of returning the entire sequence at onc
e.\nIt is a special type of function which returns an iterator object.\nIn a ge
nerator function, a yield statement is used rather than a return statement.\nTh
e generator function cannot include the return keyword. If we include it then i
t will terminate the execution of the function.\nThe difference between yield a
nd return is that once yield returns a value the function is paused and the con
trol is transferred to the caller.Local variables and their states are remember
ed between successive calls. In case of the return statement value is returned  
and the execution of the function is terminated.\nMethods like __iter()__ and _
_next()__ are implemented automatically in generator function.\nSimple generato
rs can be easily created using generator expressions. Generator expressions cre
ate anonymous generator functions like lambda.\nThe syntax for generator expres
sion is similar to that of a list comprehension but the only difference is squa
re brackets are replaced with round parentheses. Also list comprehension produc
es the entire list while the generator expression produces one item at a time w
hich is more memory efficient than list comprehension.'
Out[86]: ''fileobj = open('test1.txt' )  # Open file in read/text mode
fileobj = open('test1.txt' , 'r') # Open file in read mode
fileobj = open('test1.txt' , 'w') # Open file in write mode
fileobj = open('test1.txt' , 'a') # Open file in append mode
fileobj.close()
fileobj = open('test1.txt' ) 
fileobj.read() #Read whole file
fileobj.read() #File cursor is already at the end of the file so it won't be able
3/25/2021 Python - Jupyter Notebook
localhost:8889/notebooks/Documents/GitHub/Public/Python/Python.ipynb 107/118

87]:

88]:

89]:

In [ ]:
90]:Out[87]: 'Python generators are easy way of creating iterators. It generates values one  
at a time from a given sequence instead of returning the entire sequence at onc
e.\nIt is a special type of function which returns an iterator object.\nIn a ge
nerator function, a yield statement is used rather than a return statement.\nTh
e generator function cannot include the return keyword. If we include it then i
t will terminate the execution of the function.\nThe difference between yield a
nd return is that once yield returns a value the function is paused and the con
trol is transferred to the caller.Local variables and their states are remember
ed between successive calls. In case of the return statement value is returned  
and the execution of the function is terminated.\nMethods like __iter()__ and _
_next()__ are implemented automatically in generator function.\nSimple generato
rs can be easily created using generator expressions. Generator expressions cre
ate anonymous generator functions like lambda.\nThe syntax for generator expres
sion is similar to that of a list comprehension but the only difference is squa
re brackets are replaced with round parentheses. Also list comprehension produc
es the entire list while the generator expression produces one item at a time w
hich is more memory efficient than list comprehension.'
Out[88]: 'generators are easy way of creating iterators. It generates values one at a ti
me from a given sequence instead of returning the entire sequence at once.\nIt  
is a special type of function which returns an iterator object.\nIn a generator  
function, a yield statement is used rather than a return statement.\nThe genera
tor function cannot include the return keyword. If we include it then it will t
erminate the execution of the function.\nThe difference between yield and retur
n is that once yield returns a value the function is paused and the control is  
transferred to the caller.Local variables and their states are remembered betwe
en successive calls. In case of the return statement value is returned and the  
execution of the function is terminated.\nMethods like __iter()__ and __next()_
_ are implemented automatically in generator function.\nSimple generators can b
e easily created using generator expressions. Generator expressions create anon
ymous generator functions like lambda.\nThe syntax for generator expression is  
similar to that of a list comprehension but the only difference is square brack
ets are replaced with round parentheses. Also list comprehension produces the e
ntire list while the generator expression produces one item at a time which is  
more memory efficient than list comprehension.'
Out[89]: 'Python generator'
Out[90]: 16fileobj.seek(0) # Bring file cursor to initial position.
fileobj.read()  
fileobj.seek(7) # place file cursor at loc 7
fileobj.read()
fileobj.seek(0)
 
fileobj.read(16) # Return the first 16 characters of the file
fileobj.tell() # Get the file cursor position
3/25/2021 Python - Jupyter Notebook
localhost:8889/notebooks/Documents/GitHub/Public/Python/Python.ipynb 108/118

91]:

In [ ]:
92]:Python generators are easy way of creating iterators. It generates values one a
t a time from a given sequence instead of returning the entire sequence at onc
e. 
It is a special type of function which returns an iterator object.  
In a generator function, a yield statement is used rather than a return stateme
nt. 
Out[92]: ['Python generators are easy way of creating iterators. It generates values one  
at a time from a given sequence instead of returning the entire sequence at onc
e.\n', 
'It is a special type of function which returns an iterator object.\n',  
'In a generator function, a yield statement is used rather than a return state
ment.\n',  
'The generator function cannot include the return keyword. If we include it th
en it will terminate the execution of the function.\n',  
'The difference between yield and return is that once yield returns a value th
e function is paused and the control is transferred to the caller.Local variabl
es and their states are remembered between successive calls. In case of the ret
urn statement value is returned and the execution of the function is terminate
d.\n', 
'Methods like __iter()__ and __next()__ are implemented automatically in gener
ator function.\n',  
'Simple generators can be easily created using generator expressions. Generato
r expressions create anonymous generator functions like lambda.\n',  
'The syntax for generator expression is similar to that of a list comprehensio
n but the only difference is square brackets are replaced with round parenthese
s. Also list comprehension produces the entire list while the generator express
ion produces one item at a time which is more memory efficient than list compre
hension.']fileobj.seek(0)
 
print(fileobj.readline ()) # Read first line of a file.
 
print(fileobj.readline ()) # Read second line of a file.
 
print(fileobj.readline ()) # Read third line of a file.
fileobj.seek(0)
 
fileobj.readlines () # Read all lines of a file.            
3/25/2021 Python - Jupyter Notebook
localhost:8889/notebooks/Documents/GitHub/Public/Python/Python.ipynb 109/118

In [ ]:
93]:
Python generators are easy way of creating iterators. It generates values one a
t a time from a given sequence instead of returning the entire sequence at onc
e. 
It is a special type of function which returns an iterator object.  
In a generator function, a yield statement is used rather than a return stateme
nt. 
The generator function cannot include the return keyword. If we include it then  
it will terminate the execution of the function.
The difference between yield and return is that once yield returns a value the  
function is paused and the control is transferred to the caller.Local variables  
and their states are remembered between successive calls. In case of the return  
statement value is returned and the execution of the function is terminated.  # Read first 5 lines of a file using readline()
fileobj.seek(0)
 
count = 0
for i in range(5):
    if (count < 5):
        print(fileobj.readline ())
    else:
        break
    count+=1
3/25/2021 Python - Jupyter Notebook
localhost:8889/notebooks/Documents/GitHub/Public/Python/Python.ipynb 110/118

In [ ]:
94]:
Write FilePython generators are easy way of creating iterators. It generates values one a
t a time from a given sequence instead of returning the entire sequence at onc
e. 
It is a special type of function which returns an iterator object.  
In a generator function, a yield statement is used rather than a return stateme
nt. 
The generator function cannot include the return keyword. If we include it then  
it will terminate the execution of the function.
The difference between yield and return is that once yield returns a value the  
function is paused and the control is transferred to the caller.Local variables  
and their states are remembered between successive calls. In case of the return  
statement value is returned and the execution of the function is terminated.  # Read first 5 lines of a file using readlines()
fileobj.seek(0)
 
count = 0
for i in fileobj.readlines ():
    if (count < 5):
        print(i)
    else:
        break
    count+=1
3/25/2021 Python - Jupyter Notebook
localhost:8889/notebooks/Documents/GitHub/Public/Python/Python.ipynb 111/118

95]:

In [ ]:
96]:Out[95]: 'Python generators are easy way of creating iterators. It generates values one  
at a time from a given sequence instead of returning the entire sequence at onc
e.\nIt is a special type of function which returns an iterator object.\nIn a ge
nerator function, a yield statement is used rather than a return statement.\nTh
e generator function cannot include the return keyword. If we include it then i
t will terminate the execution of the function.\nThe difference between yield a
nd return is that once yield returns a value the function is paused and the con
trol is transferred to the caller.Local variables and their states are remember
ed between successive calls. In case of the return statement value is returned  
and the execution of the function is terminated.\nMethods like __iter()__ and _
_next()__ are implemented automatically in generator function.\nSimple generato
rs can be easily created using generator expressions. Generator expressions cre
ate anonymous generator functions like lambda.\nThe syntax for generator expres
sion is similar to that of a list comprehension but the only difference is squa
re brackets are replaced with round parentheses. Also list comprehension produc
es the entire list while the generator expression produces one item at a time w
hich is more memory efficient than list comprehension.THIS IS THE NEW CONTENT A
PPENDED IN THE FILE'
Out[96]: 'NEW CONTENT ADDED IN THE FILE. PREVIOUS CONTENT HAS BEEN OVERWRITTEN'fileobj = open('test1.txt' , 'a')
 
fileobj.write('THIS IS THE NEW CONTENT APPENDED IN THE FILE' ) # Append content to
 
fileobj.close()
 
fileobj = open('test1.txt' )
 
fileobj.read()
fileobj = open("test1.txt" , "w")
 
fileobj.write("NEW CONTENT ADDED IN THE FILE. PREVIOUS CONTENT HAS BEEN OVERWRITT
 
fileobj.close()
 
fileobj = open('test1.txt' )
 
fileobj.read()
3/25/2021 Python - Jupyter Notebook
localhost:8889/notebooks/Documents/GitHub/Public/Python/Python.ipynb 112/118

114]:
Delete file

115]:

116]:

117]:

In [ ]:
118]:
Error & Exception Handling
Python has many built-in exceptions (ArithmeticError , ZeroDivisionError , EOFError , IndexError ,
KeyError , SyntaxError , IndentationError , FileNotFoundError etc) that are raised when your
program encounters an error .Out[114]: ['First Line\n',  
 'Second Line\n',  
 'Third Line\n',  
 'Fourth Line\n',  
 'Fifth Line\n']
---------------------------------------------------------------------------  
FileNotFoundError                          Traceback (most recent call last)  
<ipython-input-116-fecc9f240170>  in <module>  
----> 1 os.remove("test3.txt" ) 
FileNotFoundError : [WinError 2] The system cannot find the file specified: 'tes
t3.txt' 
---------------------------------------------------------------------------  
FileNotFoundError                          Traceback (most recent call last)  
<ipython-input-118-e9e89c9edbf0>  in <module>  
----> 1 os.rmdir('folder1/' )
FileNotFoundError : [WinError 2] The system cannot find the file specified: 'fol
der1/' fileobj = open("test2.txt" , "w") # Create a new file
 
fileobj.write("First Line\n" ) 
fileobj.write("Second Line\n" )
fileobj.write("Third Line\n" ) 
fileobj.write("Fourth Line\n" )
fileobj.write("Fifth Line\n" )
fileobj.close()
 
fileobj = open('test2.txt' )
 
fileobj.readlines ()
os.remove("test3.txt" ) # Delete file
os.remove("test3.txt" )
os.rmdir('folder1/' )  # Delete folder
os.rmdir('folder1/' )
3/25/2021 Python - Jupyter Notebook
localhost:8889/notebooks/Documents/GitHub/Public/Python/Python.ipynb 113/118When the exception occurs Python interpreter stops the current process and passes it to the
calling process until it is handled. If exception is not handled the program will crash.
Exceptions in python can be handled using a try statement. The try block lets you test a block
of code for errors.
The block of code which can raise an exception is placed inside the try clause. The code that
will handle the exceptions is written in the except  clause.
The finally  code block will execute regardless of the result of the try and except blocks.
We can also use the else keyword to define a block of code to be executed if no exceptions
were raised.
Python also allows us to create our own exceptions that can be raised from the program using
the raise  keyword and caught using the except  clause. W e can define what kind of error to
raise, and the text to print to the user .

3/25/2021 Python - Jupyter Notebook
localhost:8889/notebooks/Documents/GitHub/Public/Python/Python.ipynb 114/118

130]:

In [ ]:
134]:division by zero Exception occured  
Run this block of code always  
Variable x is not defined  try:
    print(100/0) # ZeroDivisionError will be encountered here. So the control wil
    
except:
    print(sys.exc_info ()[1] , 'Exception occured' ) # This statement will be execu
    
else:
    print('No exception occurred' ) # This will be skipped as code block inside tr
 
finally:
    print('Run this block of code always' ) # This will be always executed 
    
try:
    print(x)  # NameError exception will be encountered as variable x is not defi
 
except:
    print('Variable x is not defined' )
3/25/2021 Python - Jupyter Notebook
localhost:8889/notebooks/Documents/GitHub/Public/Python/Python.ipynb 115/118

137]:

In [ ]:
141]:BELOW EXCEPTION OCCURED  
[WinError 2] The system cannot find the file specified: 'test3.txt'  
 
Run this block of code always  
Enter first number :- 12  
Enter first number :- 13  
0.9230769230769231  
FileNotFoundError exception occurred  try:
    os.remove("test3.txt" ) # FileNotFoundError will be encountered as "test3.txt"
    
except:                     # Below statement will be executed as exception occur
    print("BELOW EXCEPTION OCCURED" ) 
    print(sys.exc_info ()[1])
    
else:
    print('\nNo exception occurred' )
 
finally:
    print('\nRun this block of code always' )
# Handling specific exceptions
try:
    x = int(input('Enter first number :- ' ))
    y =  int(input('Enter first number :- ' ))  # If input entered is non-zero the
    print(x/y)
    os.remove("test3.txt" )
 
except NameError :
    print('NameError exception occurred' )
 
except FileNotFoundError :
    print('FileNotFoundError exception occurred' )
    
except ZeroDivisionError :
    print('ZeroDivisionError exception occurred' )  
3/25/2021 Python - Jupyter Notebook
localhost:8889/notebooks/Documents/GitHub/Public/Python/Python.ipynb 116/118

142]:

144]:
Built-in Exceptions

In [ ]:
149]:Enter first number :- 10  
Enter first number :- 0  
ZeroDivisionError exception occurred  
Enter first number :- 100  
<class 'ValueError'>  
(<class 'OverflowError'>, OverflowError('math range error'), <traceback object  
at 0x000002B2B12EFB88>)  # Handling specific exceptions
try:
    x = int(input('Enter first number :- ' ))
    y =  int(input('Enter first number :- ' )) # If the input entered is zero the 
    print(x/y)
    os.remove("test3.txt" )
 
except NameError :
    print('NameError exception occurred' )
 
except FileNotFoundError :
    print('FileNotFoundError exception occurred' )
    
except ZeroDivisionError :
    print('ZeroDivisionError exception occurred' ) 
try:
    x = int(input('Enter first number :- ' ))
    if x > 50:
        raise ValueError (x) # If value of x is greater than 50 ValueError excepti
except:
    print(sys.exc_info ()[0])
# OverflowError - This exception is raised when the result of a numeric calculati
 
try:  
    import math
    print(math.exp(1000))
except OverflowError :  
        print (sys.exc_info ())
else:  
    print ("Success, no error!" )
3/25/2021 Python - Jupyter Notebook
localhost:8889/notebooks/Documents/GitHub/Public/Python/Python.ipynb 117/118

150]:

152]:

155]:

157]:

In [ ]:
160]:Enter first number :- 100  
Enter first number :- 0  
ZeroDivisionError exception occurred  
NameError exception occurred  
Assertion Exception Raised.  
ModuleNotFoundError Exception Raised.  
KeyError Exception Raised.  # ZeroDivisionError - This exception is raised when the second operator in a divi
 
try:
    x = int(input('Enter first number :- ' ))
    y =  int(input('Enter first number :- ' ))
    print(x/y)
    
except ZeroDivisionError :
    print('ZeroDivisionError exception occurred' )
# NameError - This exception is raised when a variable does not exist
 
try:
    print(x1)
 
except NameError :
    print('NameError exception occurred' )
# AssertionError - This exception is raised when an assert statement fails
 
try:  
    a = 50
    b = "Asif"
    assert a == b
except AssertionError :  
        print ("Assertion Exception Raised." )
# ModuleNotFoundError - This exception is raised when an imported module does not
 
try:
    import MyModule
 
except ModuleNotFoundError :  
        print ("ModuleNotFoundError Exception Raised." )
# KeyError - This exception is raised when key does not exist in a dictionary
 
try:
    mydict = {1:'Asif', 2:'Basit', 3:'Michael' }
    print (mydict[4])
 
except KeyError :
     print ("KeyError Exception Raised." )
3/25/2021 Python - Jupyter Notebook
localhost:8889/notebooks/Documents/GitHub/Public/Python/Python.ipynb 118/118

162]:

165]:

171]:

In [ ]:
]:
ENDIndexError Exception Raised.  
TypeError Exception Raised.  
AttributeError Exception Raised.  # IndexError - This exception is raised when an index of a sequence does not exis
 
try:
    mylist = [1,2,3,4,5,6]
    print (mylist[10])
 
except IndexError :
     print ("IndexError Exception Raised." )
# TypeError - This exception is raised when two different datatypes are combined
 
try:  
    a = 50
    b = "Asif"
    c = a/b
except TypeError :  
        print ("TypeError Exception Raised." )
# AttributeError: - This exception is raised when attribute reference or assignme
 
try:  
    a = 10
    b = a.upper()
    print(b)
except AttributeError :  
        print ("AttributeError Exception Raised." )
try:
    x = input('Enter first number :- ' )
 
    
except:
    print('ZeroDivisionError exception occurred' )